<%- include('partials/header') %>


<div >
  <h3 style="text-align:center;"> ASELA > Nos adoptants</h3>
</div>

<div class ="bande-top">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="adoptant-2017" data-toggle="tab" href="#2017" role="tab" aria-controls="2017" aria-selected="true">2017</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="adoptant-2018" data-toggle="tab" href="#2018" role="tab" aria-controls="2018" aria-selected="false">2018</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="adoptant-2019" data-toggle="tab" href="#2019" role="tab" aria-controls="2019" aria-selected="false">2019</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="adoptant-2020" data-toggle="tab" href="#2020" role="tab" aria-controls="2020" aria-selected="false">2020</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="adoptant-2021" data-toggle="tab" href="#2021" role="tab" aria-controls="2021" aria-selected="false">2021</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-------------------------------------------------2017---------------------------------------------->
    <div class="tab-pane fade show active" id="2017" role="tabpanel" aria-labelledby="adoptant-2017">
      <div class="card-dash">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Adoptant</th>
            <th scope="col">Conjoint</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Ville</th>
            <th scope="col">Adresse</th>
            <th scope="col">Domicile</th>
            <th scope="col">Email</th>
            <th scope="col">Animal adopté</th>
            <th scope="col">Date adoption</th>          
          </tr>
        </thead>
        <tbody>
            <% for(let adoptantTab of adoptant){ %>
              <% if(adoptantTab.date_adopting.toISOString().substr(0, 4) === '2017') { %> 
              <tr data-toggle="modal" style="text-transform: capitalize;" data-target=".bd-adoptant-modal-lg-profil<%= adoptantTab.id %>"> 
                  <td data-label="Identité"><a href="adoptant/<%= adoptantTab.id %>"><%= adoptantTab.lastname %> <%= adoptantTab.firstname %></a></td>
                  <td data-label="Epoux(se)"><% if(adoptantTab.spouselastname){ %> <%= adoptantTab.spouselastname %> <%= adoptantTab.spousefirstname %> <% }else{%> - <%} %></td>
                  <td data-label="Téléphone"><%= adoptantTab.number_phone %></td>
                  <td data-label="Ville"><%= adoptantTab.postal_code %><%= adoptantTab.city %></td>
                  <td data-label="Adresse"><%= adoptantTab.adress %></td>
                  <td data-label="Logement"><%= adoptantTab.type_home %></td>
                  <td data-label="Email"><%= adoptantTab.email %></td>
                  <td data-label="Animaux"><%= adoptantTab.name %></td>
                  <td data-label="Date adoption"><%= adoptantTab.date_adopting.toLocaleString('en-GB').substr(0, 10) %></td>
                <% } %>
            <% } %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>                
    <!-----------------------------------------2018----------------------------------------------->
    <div class="tab-pane fade" id="2018" role="tabpanel" aria-labelledby="adoptant-2018">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Adoptant</th>
            <th scope="col">Conjoint</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Ville</th>
            <th scope="col">Adresse</th>
            <th scope="col">Domicile</th>
            <th scope="col">Email</th>
            <th scope="col">Animal adopté</th>
            <th scope="col">Date adoption</th> 
          </tr>
        </thead>
        <tbody>
            
            <% for(let adoptantTab of adoptant){ %>
              <% if(adoptantTab.date_adopting.toISOString().substr(0, 4) === '2018') { %>
              <tr data-toggle="modal" style="text-transform: capitalize;" data-target=".bd-adoptant-modal-lg-profil<%= adoptantTab.id %>"> 
                  <td data-label="Identité"><a href="adoptant/<%= adoptantTab.id %>"><%= adoptantTab.lastname %> <%= adoptantTab.firstname %></a></td>
                  <td data-label="Epoux(se)"><% if(adoptantTab.spouselastname){ %> <%= adoptantTab.spouselastname %> <%= adoptantTab.spousefirstname %> <% }else{%> - <%} %></td>
                  <td data-label="Téléphone"><%= adoptantTab.number_phone %></td>
                  <td data-label="Ville"><%= adoptantTab.postal_code %>  <%= adoptantTab.city %></td>
                  <td data-label="Adresse"><%= adoptantTab.adress %></td>
                  <td data-label="Logement"><%= adoptantTab.type_home %></td>
                  <td data-label="Email"><%= adoptantTab.email %></td>
                  <td data-label="Animaux"><%= adoptantTab.name %></td>
                  <td data-label="Date adoption"><%= adoptantTab.date_adopting.toLocaleString('en-GB').substr(0, 10) %></td>
              </tr>
              <% } %>
            <% } %> 
        </tbody>
      </table>
    </div>
    <!----------------------------------2019--------------------------------------------->
    <div class="tab-pane fade" id="2019" role="tabpanel" aria-labelledby="adoptant-2019">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Adoptant</th>
            <th scope="col">Conjoint</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Ville</th>
            <th scope="col">Adresse</th>
            <th scope="col">Domicile</th>
            <th scope="col">Email</th>
            <th scope="col">Animal adopté</th>
            <th scope="col">Date adoption</th> 
          </tr>
        </thead>
        <tbody>
            
            <% for(let adoptantTab of adoptant){ %>
              <% if(adoptantTab.date_adopting.toISOString().substr(0, 4) === '2019') { %>
              <tr data-toggle="modal" style="text-transform: capitalize;" data-target=".bd-adoptant-modal-lg-profil<%= adoptantTab.id %>"> 
                <td data-label="Identité"><a href="adoptant/<%= adoptantTab.id %>"><%= adoptantTab.lastname %> <%= adoptantTab.firstname %></a></td>
                <td data-label="Epoux(se)"><% if(adoptantTab.spouselastname){ %> <%= adoptantTab.spouselastname %> <%= adoptantTab.spousefirstname %> <% }else{%> - <%} %></td>
                <td data-label="Téléphone"><%= adoptantTab.number_phone %></td>
                <td data-label="Ville"><%= adoptantTab.postal_code %>  <%= adoptantTab.city %></td>
                <td data-label="Adresse"><%= adoptantTab.adress %></td>
                <td data-label="Logement"><%= adoptantTab.type_home %></td>
                <td data-label="Email"><%= adoptantTab.email %></td>
                <td data-label="Animaux"><%= adoptantTab.name %></td>
                <td data-label="Date adoption"><%= adoptantTab.date_adopting.toLocaleString('en-GB').substr(0, 10) %></td>
              <% } %>
            </tr>
          <% } %>  
        </tbody>
      </table>
    </div>
    <!--------------------------------------2020-------------------------------------------------->
    <div class="tab-pane fade" id="2020" role="tabpanel" aria-labelledby="adoptant-2020">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Adoptant</th>
            <th scope="col">Conjoint</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Ville</th>
            <th scope="col">Adresse</th>
            <th scope="col">Domicile</th>
            <th scope="col">Email</th>
            <th scope="col">Animal adopté</th>
            <th scope="col">Date adoption</th> 
          </tr>
        </thead>
        <tbody>
            <% for(let adoptantTab of adoptant){ %>
              <% if(adoptantTab.date_adopting.toISOString().substr(0, 4) === '2020') { %> 
              <tr data-toggle="modal" style="text-transform: capitalize;" data-target=".bd-adoptant-modal-lg-profil<%= adoptantTab.id %>"> 
                <td data-label="Identité"><a href="adoptant/<%= adoptantTab.id %>"><%= adoptantTab.lastname %> <%= adoptantTab.firstname %></a></td>
                <td data-label="Epoux(se)"><% if(adoptantTab.spouselastname){ %> <%= adoptantTab.spouselastname %> <%= adoptantTab.spousefirstname %> <% }else{%> - <%} %></td>
                <td data-label="Téléphone"><%= adoptantTab.number_phone %></td>
                <td data-label="Ville"><%= adoptantTab.postal_code %>  <%= adoptantTab.city %></td>
                <td data-label="Adresse"><%= adoptantTab.adress %></td>
                <td data-label="Logement"><%= adoptantTab.type_home %></td>
                <td data-label="Email"><%= adoptantTab.email %></td>
                <td data-label="Animaux"><%= adoptantTab.name %></td>
                <td data-label="Date adoption"><%= adoptantTab.date_adopting.toLocaleString('en-GB').substr(0, 10) %></td>
              </tr>
              <% } %>
            <% } %> 
        </tbody>
      </table>
    </div>
    <!--------------------------------------2021-------------------------------------------->
    <div class="tab-pane fade show" id="2021" role="tabpanel" aria-labelledby="adoptant-2021">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Adoptant</th>
            <th scope="col">Conjoint</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Ville</th>
            <th scope="col">Adresse</th>
            <th scope="col">Domicile</th>
            <th scope="col">Email</th>
            <th scope="col">Animal adopté</th>
            <th scope="col">Date adoption</th> 
          </tr>
        </thead>
        <tbody>
          <% for(let adoptantTab of adoptant){ %>
            <% if(adoptantTab.date_adopting.toISOString().substr(0, 4) === '2021') { %>
              <tr data-toggle="modal" style="text-transform: capitalize;" data-target=".bd-adoptant-modal-lg-profil<%= adoptantTab.id %>"> 
                <% console.log(adoptantTab.id) %> 
                <td data-label="Identité"> <a href="adoptant/<%= adoptantTab.id %>"><%= adoptantTab.lastname %> <%= adoptantTab.firstname %></a></td>
                <td data-label="Epoux(se)"><% if(adoptantTab.spouselastname){ %> <%= adoptantTab.spouselastname %> <%= adoptantTab.spousefirstname %> <% }else{%> - <%} %></td>
                <td data-label="Téléphone"><%= adoptantTab.number_phone %></td>
                <td data-label="Ville"><%= adoptantTab.postal_code %>  <%= adoptantTab.city %></td>
                <td data-label="Adresse"><%= adoptantTab.adress %></td>
                <td data-label="Logement"><%= adoptantTab.type_home %></td>
                <td data-label="Email"><%= adoptantTab.email %></td>
                <td data-label="Animaux"><%= adoptantTab.name %></td>
                <td data-label="Date adoption"><%= adoptantTab.date_adopting.toLocaleString('en-GB').substr(0, 10) %></td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>


<%- include('partials/footer') %>
<script src="/js/adoptants.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>