<%- include('partials/header') %>

<div class="main-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-body" style="padding: 0;">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <div class="icon-warning">
                                        <img class="nc-icon" src="/img/chiensvg.png" alt="chiensvg">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-7">
                                <div class="numbers">
                                    <div>
                                        <p class="card-category">Chiens sauvés</p> 
                                        <h4 class="card-title"><%= catRescue %> </h4>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-body" style="padding: 0;">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <div class="icon-warning">
                                        <img class="nc-icon" src="/img/chatsvg.png" alt="chatsvg">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-7">
                                <div class="numbers">
                                    <div>
                                        <p class="card-category">Chats sauvés</p> 
                                        <h4 class="card-title"><%= dogRescue %></h4>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats">
                    <div class="card-body" style="padding: 0;">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <div class="icon-warning">
                                        <img class="nc-icon" src="/img/formsvg.png" alt="formsvg">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-7">
                                <div class="numbers">
                                    <div>
                                        <p class="card-category">Nouveaux questionnaires</p> 
                                        <h4 class="card-title"><%= newQuest %> </h4>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header22">
                        <h4 class="card-title">Type Statistique</h4>
                        <p class="card-category">Type d'animal pris en charge 2020</p>
                    </div>
                    <div class="card-body-dash ">
                        <canvas id="myChart1">
                
                        </canvas>   
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header22 ">
                        <h4 class="card-title">Nombre de prise en charge </h4>
                        <p class="card-category">2020 - 2021</p>
                    </div>
                    <div class="card-body-dash ">
                        <canvas id="myChart">
                
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <!----
        <div class="row">
            <div class="col-md-12">
                <div class="card  card-tasks">
                    <div class="card-header2 ">
                        <h4 class="card-title">Rendez-vous Anna</h4>
                    </div>
                    <div class="card-body-dash ">
                        <div class="table-full-width">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Date et Heure</th>
                                        <th scope="col">Type de RDV</th>
                                        <th scope="col">Animal concerné</th>
                                        <th scope="col">Lieu</th>
                                        <th scope="col">Identité</th>
                                        <th scope="col">Coordonnées</th>
                                        <th scope="col">Infos</th>
                                        <th scope="col">Modale</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Date et Heure">18/08/2021</td>
                                        <td data-label="Type de RDV">Rencontre</td>
                                        <td data-label="Animal concerné">Rubarbe</td>
                                        <td data-label="Lieu">Chez Anna</td>
                                        <td data-label="Identité">Marguerite Petipoid</td>
                                        <td data-label="Coordonnées">12 rue de la peruche 34920 Le Cres - 0781025042</td>
                                        <td data-label="Infos">Pas entierement cloturé</td>
                                        <td data-label="Voir/Modifier">
                                            <button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Date et Heure">18/08/2021</td>
                                        <td data-label="Type de RDV">Rencontre</td>
                                        <td data-label="Animal concerné">Rubarbe</td>
                                        <td data-label="Lieu">Chez Anna</td>
                                        <td data-label="Identité">Marguerite Petipoid</td>
                                        <td data-label="Coordonnées">12 rue de la peruche 34920 Le Cres - 0781025042</td>
                                        <td data-label="Infos">Pas entierement cloturé</td>
                                        <td data-label="Voir/Modifier">
                                            <button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Date et Heure">18/08/2021</td>
                                        <td data-label="Type de RDV">Rencontre</td>
                                        <td data-label="Animal concerné">Rubarbe</td>
                                        <td data-label="Lieu">Chez Anna</td>
                                        <td data-label="Identité">Marguerite Petipoid</td>
                                        <td data-label="Coordonnées">12 rue de la peruche 34920 Le Cres - 0781025042</td>
                                        <td data-label="Infos">Pas entierement cloturé</td>
                                        <td data-label="Voir/Modifier">
                                            <button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Date et Heure">18/08/2021</td>
                                        <td data-label="Type de RDV">Rencontre</td>
                                        <td data-label="Animal concerné">Rubarbe</td>
                                        <td data-label="Lieu">Chez Anna</td>
                                        <td data-label="Identité">Marguerite Petipoid</td>
                                        <td data-label="Coordonnées">12 rue de la peruche 34920 Le Cres - 0781025042</td>
                                        <td data-label="Infos">Pas entierement cloturé</td>
                                        <td data-label="Voir/Modifier">
                                            <button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Date et Heure">18/08/2021</td>
                                        <td data-label="Type de RDV">Rencontre</td>
                                        <td data-label="Animal concerné">Rubarbe</td>
                                        <td data-label="Lieu">Chez Anna</td>
                                        <td data-label="Identité">Marguerite Petipoid</td>
                                        <td data-label="Coordonnées">12 rue de la peruche 34920 Le Cres - 0781025042</td>
                                        <td data-label="Infos">Pas entierement cloturé</td>
                                        <td data-label="Voir/Modifier">
                                            <button>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </button>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        --->
    </div>
</div>

<%- include('partials/footer') %>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre','Octobre','Novembre','Decembre'],
        datasets: [{
      label: "Chien",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "white",
      borderColor: "#c15369", // The main line color
      borderCapStyle: 'butt',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#5c1321",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "white",
      pointHoverBorderColor: "#5c1321",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: [<%= dogStatThisYear.January %>, <%= dogStatThisYear.February %>, <%= dogStatThisYear.March %>, <%= dogStatThisYear.April %>, <%= dogStatThisYear.May %>, <%= dogStatThisYear.June %>, <%= dogStatThisYear.July %>, <%= dogStatThisYear.August %>, <%= dogStatThisYear.September %>, <%= dogStatThisYear.October %>, <%= dogStatThisYear.November %>, <%= dogStatThisYear.December %>],
      
      spanGaps: true,
    }, {
      label: "Chien (ans -1)",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "white",
      borderColor: "#ffe0e6", // The main line color
      borderCapStyle: 'round',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#ff6384",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "white",
      pointHoverBorderColor: "#ff6384",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: [<%=dogStatLastYear.January%>, <%=dogStatLastYear.February%>, <%=dogStatLastYear.March%>, <%=dogStatLastYear.April%>, <%=dogStatLastYear.May%>, <%=dogStatLastYear.June%>, <%=dogStatLastYear.July%>, <%=dogStatLastYear.August%>, <%=dogStatLastYear.September%>, <%=dogStatLastYear.October%>, <%=dogStatLastYear.November%>, <%=dogStatLastYear.December%>],
      spanGaps: true,
    }, {
      label: "Chat",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "white",
      borderColor: "#70a3c7", // The main line color
      borderCapStyle: 'square',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#084977",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "white",
      pointHoverBorderColor: "#084977",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: [<%=catStatThisYear.January%>, <%=catStatThisYear.February%>, <%=catStatThisYear.March%>, <%=catStatThisYear.April%>, <%=catStatThisYear.May%>, <%=catStatThisYear.June%>, <%=catStatThisYear.July%>, <%=catStatThisYear.August%>, <%=catStatThisYear.September%>, <%=catStatThisYear.October%>, <%=catStatThisYear.November%>, <%=catStatThisYear.December%>],
      spanGaps: true,
    }, {
      label: "Chat (ans-1)",
      fill: false,
      lineTension: 0.1,
      backgroundColor: "white",
      borderColor: "#d6ecfb", // The main line color
      borderCapStyle: 'square',
      borderDash: [], // try [5, 15] for instance
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#36a2eb",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 8,
      pointHoverBackgroundColor: "white",
      pointHoverBorderColor: "#36a2eb",
      pointHoverBorderWidth: 2,
      pointRadius: 4,
      pointHitRadius: 10,
      // notice the gap in the data and the spanGaps: true
      data: [<%=catStatLastYear.January%>, <%=catStatLastYear.February%>, <%=catStatLastYear.March%>, <%=catStatLastYear.April%>, <%=catStatLastYear.May%>, <%=catStatLastYear.June%>, <%=catStatLastYear.July%>, <%=catStatLastYear.August%>, <%=catStatLastYear.September%>, <%=catStatLastYear.October%>, <%=catStatLastYear.November%>, <%=catStatLastYear.December%>],
      spanGaps: true,
    }
  ]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Chien', 'Chat'],
        datasets: [{
            label: '# of Votes',
            data: [<%= dogsNumberLastYear %>, <%= catsNumberLastYear %>],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>