<%- include('partials/header') %>

<div >
    <h3 style="text-align:center;"> ASELA > Nos chiens</h3>
</div>

<div class ="bande-top">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pet-tab" data-toggle="tab" href="#pet" role="tab" aria-controls="pet" aria-selected="true">A l'adoption</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nos adoptés</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Nos décédés</a>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-purple AddDog" id="btn-createDog" data-toggle="modal" data-target="#AddDogModal">+ Ajouter un chien</button>
        </li>
    </ul>
    
    <!--------------------------------------------Section animaux disponibles--------------------------------------->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active table table-responsive tableFixHead" id="pet" role="tabpanel" aria-labelledby="pet-tab">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date d'entrée</th>
                            <th>Race</th>
                            <th>Age</th>
                            <th>Sexe</th>
                            <th>Robe</th>
                            <th>Taille</th>
                            <th>Identification</th>
                            <th>Dernier Vaccin</th>
                            <th>Publié</th>
                            <th>Reservé</th>
                        </tr>
                    </thead>
                    
                    <% for(let pet of jason.pets) { %>
                        <tbody class="m-phone">
                            <td data-label="Nom"><a href="pet/<%= pet.id %>"><%= pet.name %></a></td>
                            <td data-label="Date entrée"><%if(pet.date_supported){%><%= pet.date_supported.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                            <td data-label="Race"><%if(pet.breed){%><%= pet.breed %> <%}else{%>Inconnu<%}%></td>
                            <td data-label="Age"><%if(pet.age){%><%= pet.age.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                            <td data-label="Sexe"><%if(pet.sexe){%><%= pet.sexe %> <%}else{%>Inconnu<%}%></td>
                            <td data-label="Robe"> <%if(pet.color){%> <%= pet.color %> <%}else{%>Inconnu<%}%></td>
                            <td data-label="Taille"><%if(pet.weight){%> <%= pet.weight %> <%}else{%>Inconnu<%}%></td>
                            <td data-label="Identification"> <%if(pet.ide){%><%= pet.ide %> <%}else{%>Inconnu<%}%></td>
                            <td data-label="Dernier Vaccin"><%if(pet.date_vaccine){%> <%= pet.date_vaccine.toLocaleString('en-GB').substr(0, 10)%><%}else{%>Inconnu<%}%> </td>  
                            <td data-label="Publié"><% if(pet.site_publish===true){ %>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalPublish<%= pet.id %>">OUI</button>
                                <% } else { %>
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modalPublish<%= pet.id %>">NON</button>
                                <% } %></td>                                  
                            <td data-label="Reservé"><% if(pet.booked===true){ %>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalBooked<%= pet.id %>">OUI</button>
                                <% } else { %>
                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modalBooked<%= pet.id %>">NON</button>
                                 <% } %></td>
                        </tbody>
                        <!---------Modale de publication ----------->
                        <div class="modal fade" id="modalPublish<%= pet.id %>" tabindex="-1" role="dialog" aria-labelledby="publishModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="modalPublish" data-article-id="<%= pet.id %>">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="publishModal">Affichage sur le site</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <% if (pet.site_publish === true) { %>
                                        <p>Voulez vous dépublier cet animal ?</p>
                                        <% } else { %>
                                        <p>Voulez vous publier cet animal ?</p>
                                        <% } %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <% if (pet.site_publish === true) { %>
                                        <button type="button" class="btn btn-primary publishSite">Oui dépublier </button>
                                        <% } else { %>
                                        <button type="button" class="btn btn-primary publishSite">Oui publier </button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!---------Modale de reservation ----------->
                        <div class="modal fade" id="modalBooked<%= pet.id %>" tabindex="-1" role="dialog" aria-labelledby="bookModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="modalBook" data-article-id="<%= pet.id %>" >
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="bookModal"> Reservation d'un animal</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <% if (pet.booked === true) { %>
                                        <p>Voulez vous annuler la reservation de cet animal ?</p>
                                        <input type="text" class="form-control" aria-label="Default" value="<%= pet.booked_name %>" aria-describedby="inputGroup-sizing-default" id="bookName<%= pet.id %>" disabled>
                                        <% } else { %>
                                            <div class="form-group">
                                              <label class="col-form-label">Nom et prénom du reservant:</label>
                                              <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="bookName<%= pet.id %>">
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <% if (pet.booked === true) { %>
                                        <button type="button" class="btn btn-primary bookPet"> Annuler la reservation </button>
                                        <% } else { %>
                                        <button type="button" class="btn btn-primary bookPet"> Valider la reservation </button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    <% } %>
                </table>
        </div>
        <!--------------------------------------------Section animaux adoptés--------------------------------------->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date d'entrée</th>
                        <th scope="col">Race</th>
                        <th scope="col">Age</th>
                        <th scope="col">Sexe</th>
                        <th scope="col">Identification</th>
                        <th scope="col">Date d'adoption</th>
                        <th scope="col">Nom adoptant</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Code Postal et Ville</th>
                        <th scope="col">Adresse</th>
                    </tr>
                </thead>
                <% for(let pet of jason.petsAdopt) { %>
                    <tr>
                        <td data-label="Nom"> <a href="pet/<%= pet.id %>"><%= pet.name %> <% if(pet.last_name_pet){%> (<%= pet.last_name_pet %>) <%}else{%><%}%>  </a></td>
                        <td data-label="Date entrée"><%if(pet.date_supported){%><%= pet.date_supported.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                        <td data-label="Race"><%if(pet.breed){%><%= pet.breed %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Age"><%if(pet.age){%><%= pet.age.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                        <td data-label="Sexe"><%if(pet.sexe){%><%= pet.sexe %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Identification"><%if(pet.ide){%><%= pet.ide %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Age"><%if(pet.date_adopting){%><%= pet.date_adopting.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                        <td data-label="Nom adoptant"><%= pet.lastname %> <%= pet.firstname %></td>
                        <td data-label="Téléphone"><%= pet.number_phone %></td>
                        <td data-label="Code Postal et Ville"><%= pet.postal_code %> <%= pet.city %></td>
                        <td data-label="Adresse"><%= pet.adress %></td>
                    </tr>
                <% } %>
            </table>
        </div>
        <!--------------------------------------------Section animaux décèdes--------------------------------------->
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <table class="table table-hover">
                <thead class="TitleTab">
                    <tr>
                        <th scope="col">Nom de l'animal</th>
                        <th scope="col">Date d'entrée</th>
                        <th scope="col">Identification</th>
                        <th scope="col">Race</th>
                        <th scope="col">Robe</th>
                        <th scope="col">Date naissance</th>
                        <th scope="col">Sexe</th>
                        <th scope="col">Date du décès</th>
                        <th scope="col">Cause</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(pet of jason.petsDead) { %>
                    <tr>      
                        <td data-label="Nom"> <a href="pet/<%= pet.id %>"><%= pet.name %> <% if(pet.last_name_pet){%> (<%= pet.last_name_pet %>) <%}else{%><%}%>  </a></td>
                        <td data-label="Date entrée"><%if(pet.date_supported){%><%= pet.date_supported.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                        <td data-label="Identification"><%if(pet.ide){%><%= pet.ide %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Race"><%if(pet.breed){%><%= pet.breed %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Robe"><%if(pet.color){%><%= pet.color %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Age"><%if(pet.age){%><%= pet.age.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                        <td data-label="Sexe"><%if(pet.sexe){%><%= pet.sexe %> <%}else{%>Inconnu<%}%></td>
                        <td data-label="Date du décès"><%if(pet.deceased_date){%><%= pet.deceased_date.toLocaleString('en-GB').substr(0, 10) %> <%}else{%>Inconnu<%}%> </td>
                        <td data-label="Cause"><%if(pet.deceased_cause){%><%= pet.deceased_cause %> <%}else{%>Inconnu<%}%></td>
                    </tr>	
                    <% } %>
                </tbody>
            </table>
        </div> 
    </div> 
</div>

<!--------------------------------------------Modale AJOUT chien--------------------------------------->
<div class="modal fade" id="AddDogModal" tabindex="-1" role="dialog" aria-labelledby="Ajouter-un-chien" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-article-id="addDog">
            <div class="modal-header">
                <h5 class="modal-title" id="Ajouter_chien"> Creer la fiche d'un chien</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <header class="modal-card-head">
                        <div class="alert alert-info" role="alert">
                            Attention certaines données sont directement connectées au site web, attention à l'orthographe!
                        </div>
                        <button class="delete close" type="button" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addNameDog">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <input type="date" class="form-control" aria-label="Default" value="2021-01-01" aria-describedby="inputGroup-sizing-default" id="addAgeDog">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Sexe</label>
                                </div>
                                <select class="custom-select" id="addSexeDog">
                                    <option selected>Choisir*</option>
                                    <option value="Femelle">Femelle</option>
                                    <option value="Mâle">Mâle</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Race</label>
                            </div>
                            <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addRaceDog" placeholder="Si inconnu écrire : Inconnu">
                        </div>
                        
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Entente</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addAmityDog" placeholder="Si inconnu écrire : Inconnu">
                            </div>
                            
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Robe</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addColorDog">
                                </div>
                            </div>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Taille</label>
                                </div>
                                <select class="custom-select" id="addWeightDog">
                                    <option selected>Choisir*</option>
                                    <option value="Petit Gabarit">Petit Gabarit</option>
                                    <option value="Moyen Gabarit">Moyen Gabarit</option>
                                    <option value="Grand Gabarit">Grand Gabarit</option>
                                    <option value="Très Grand Gabarit">Très Grand Gabarit</option>
                                </select>
                            </div>
                            
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Identification</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addIdeDog">
                                </div>
                            </div>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Stérilisé</label>
                                </div>
                                <select class="custom-select" id="sterilisedAddDog">
                                    <option selected>Choisir*</option>
                                    <option value="true">Oui</option>
                                    <option value="false">Non</option>
                                </select>
                            </div>
                            
                            <div class="field">
                                
                                <div class="nofield" id="nofild">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Description</span>
                                        </div>
                                        <textarea class="form-control" aria-label="With textarea" id="descriptionAddDog"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>		
                    </section>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary saveNewDog">Ajouter le nouveau chien</button>
            </div>
        </div>
    </div>
</div>
                               
<%- include('partials/footer') %>
<script src="/js/app.js"></script>
<script src="/js/pet.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
