<%- include('partials/header') %>

<div class="container">
    <main class="main-article">
        <div class="card">
            <div class="card-header">
                <h1 class="Title">Nos evenements</h1>

                <button type="button" aria-haspopup="dialog" aria-controls="AddEventModal" class="btn btn-outline-primary" data-toggle="modal" data-target="#AddEventModal" >
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                    </button>

             </div>

             <!-------------------------------------------Carte des évènements --------------------------------------------->
             
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <% for(let event of events){ %> 
                            
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="/uploads/<%= event.picture %>.jpg" style="width: 25rem; height: 15rem; object-fit: cover;"  alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <div class="title">
                                    <h4 class="card-title"><%= event.title %></h4>
                                    <div class="buttons-zone">
                                        <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="SuppEventModal" data-toggle="modal" data-target="#SuppEventModal" >
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="EditEventModal" data-toggle="modal" data-target="#EditEventModal">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                              </svg>
                                        </button>
                                    </div>
                                </div>
                                    <div>
                                        <div class="container-content" style="width: 60rem; text-align: justify">
                                        <p class="card-text"><%= event.content %></p>
                                    </div>
                                        <footer class="blockquote-footer">
                                            <small class="text-muted" style="font-size: .9rem;">
                                              Le <%= event.date_event.toLocaleString('en-GB').substr(0, 10) %> à <cite title="Source Title"><%= event.location %></cite>
                                            </small>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %> 
                    </div>
                </div>
            </div>
            
        </div>
    </main>
</div>
 <!--------------------------------------Modale Ajouter evenement------------------------------------>
 <div class="modal fade" id="AddEventModal" tabindex="-1" role="dialog" aria-labelledby="Ajout-event" aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Ajout-event">Ajouter un évènement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
            <header class="modal-card-head">
            <div class="alert alert-warning" role="alert">
              Attention certaines données sont directement connectées au site web, attention à l'orthographe!
              </div>
              <button class="delete close" type="button" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
  
            <div class="field">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Titre</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addTitle">
                </div>
            </div>
  
            <div class="field">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Lieu</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addLocation">
                </div>
            </div>
  
            <div class="field">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date de l'évènement</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addDate_event">
                </div>
            </div>
  
            <div class="field">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Contenu</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addContent">
                </div>
            </div>
            
            <form action="/v1/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="event" id="addPicture">
                <input type="submit" value="upload">
            </form>
        
            <%= typeof error !== 'undefined' ? error : '' %> 
  
            </section>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
 <!------------------------------MODAL SUPPRIMER OUI NON------------------------->   
 <div class="modal" tabindex="-1" role="dialog" id="SuppEventModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Supression d'un évènement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Souhaitez-vous vraiment supprimer cet évènement ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Oui</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-------------------------------------------------MODAL MODIFIER EVENEMENT------------------------------------>
  <div class="modal fade" id="EditEventModal" tabindex="-1" role="dialog" aria-labelledby="Editer-un-event" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <% for(let event of events){ %> 
      <div class="modal-content" data-article-id="<%= event.id %>">
      <% } %>
        <div class="modal-header">
          <h5 class="modal-title" id="Editer-un-event">Modifier l'évènement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
                      <header class="modal-card-head">
                              <div class="alert alert-warning" role="alert">
                                  Attention certaines données sont directement connectées au site web, attention à l'orthographe!
                                </div>
                                <button class="delete close" type="button" aria-label="close"></button>
                          <button class="delete close" type="button" aria-label="close"></button>
                      </header>
                      <section class="modal-card-body">
                          <div class="field">
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Titre</span>
                                  </div>
                                  <input type="text" class="form-control" aria-label="Default" value="editEvent" aria-describedby="inputGroup-sizing-default" id="editTitle">
                                </div>
                          </div>
                          <div class="field">
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Lieu</span>
                                  </div>
                                  <input type="text" class="form-control" aria-label="Default" value="editLocation" aria-describedby="inputGroup-sizing-default" id="editLocation">
                                </div>
                          </div>
                      
                          <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Date de l'évènement</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="editDate_event" aria-describedby="inputGroup-sizing-default" id="editDate_event">
                              </div>
                        </div>
              
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Contenu</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="editContent" aria-describedby="inputGroup-sizing-default" id="editContent">
                              </div>
                        </div>
          
              <form action="/v1/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="event" id="editPicture">
                <input type="submit" value="upload">
            </form>
        
            <%= typeof error !== 'undefined' ? error : '' %>

          </section>
      </form>
  </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary saveChange">Save changes</button>
      </div>
  </div>
</div>

</div>


</div>
</main>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
<script src="/js/event.js"></script>


<!--&times;-->