<%- include('partials/header') %>

<div >
  <h3 style="text-align:center;"> ASELA > Nos événements</h3>
</div>

<div class ="bande-top">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <span class="nav-link active">Tous nos événements</span>
    </li>
    <li class="nav-item">
      <button type="button" class="nav-link btn btn-purple" id="btn-createEvent"  data-toggle="modal" data-target="#AddEventModal">+ Ajouter un événements</button>
    </li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="row row-margin-bottom">
      <% for(let event of events){ %>
      <div class="col-md-10 no-padding lib-item" data-category="view">
        <div class="lib-panel">
          <div class="row box-shadow">
            <div class="col-md-5">
              <img class="lib-img-show" style="width: 25rem; height: 15rem; object-fit: cover;" src="/uploads/<%= event.picture %>">
            </div>
            <div class="col-md-7">
              <div class="lib-row lib-header">
                <h2 class="h2"><%= event.title %></h2>
                <div class="lib-header-seperator"></div>
              </div>
              <div class="lib-row lib-desc">
                <%= event.content %>
                <footer class="blockquote-footer"> Le <%= event.date_event.toLocaleString('en-GB').substr(0, 10) %> à <cite title="Source Title"><%= event.location %></cite></footer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <% } %>
    </div>
  </div>
  <!--------------------------------------Modale Ajouter evenement------------------------------------>
  <div class="modal fade" id="AddEventModal" tabindex="-1" role="dialog" aria-labelledby="Ajouter-un-event" aria-hidden="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Ajout-event">Ajouter un évènement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
            <header class="modal-card-head">
              <div class="alert alert-warning" role="alert">
                Attention certaines données sont directement connectées au site web, attention à l'orthographe!
              </div>
              <button class="delete close" type="button" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="field">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Titre</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addTitle">
                </div>
              </div>
              <div class="field">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Lieu</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addLocation">
                </div>
              </div>
              <div class="field">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Date de l'évènement</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addDate_event">
                </div>
              </div>
              <div class="field">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Contenu</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addContent">
                </div>
              </div>
            </section>
          </form>
          <form method="post" enctype="multipart/form-data">
            <input type="file" multiple name="petPicture[]" is="drop-files" label=" Déposer vos photo ici" class="custom-file-input" id="addPicture">
            <input type="Submit" class="btn btn-primary" value="upload">
            <div class="center">
              <div class="form-input">
                <label for="file-ip-1">Upload Image</label>
                <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);">
                <div class="preview">
                  <img id="file-ip-1-preview">
                </div>
              </div>
            </div>
          </form>
          <%= typeof error !== 'undefined' ? error : '' %> 
          <% if(typeof file !== 'undefined'){ %>
          <img src="../public/uploads/<%= file %>" style="width:80; display: block; margin: 5vh auto; object-fit: cover">
            <% } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary ValideNewEvent">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/app.js"></script>
<script src="/js/event.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="module" src="//unpkg.com/@grafikart/drop-files-element"></script>