<%- include('partials/header') %>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">FA GARD</a>
    </li>
    <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">FA HERAULT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">FA AUTRE</a>
  </li>
  <li class="nav-item">
  <button class="nav-link" type="button" class="btn btn-secondary" id="btn-createHostFamily" data-toggle="modal" data-target="#AddHostFamilyModal">AJOUTER UNE FA</button>
 </li>
</ul>

<div class="tab-content" id="myTabContent">
    
<!-----------------------------------------------FA GARD------------------------------------------->

<div class="tab-pane fade show active table table-bordered table-responsive tableFixHead" id="home" role="tabpanel" aria-labelledby="home-tab">
  <table class="table table-hover" >
      <thead>
        <tr>
          <th >PRENOM</th>
          <th >NOM DE FAMILLE</th>
          <th >TELEPHONE</th>
          <th >CODE POSTAL</th>
          <th >VILLE</th>
          <th >ADRESSE</th>
          <th >EMAIL</th>
          <th >COMPOSITION FAMILLE</th>
          <th >ANIMAL ACCEPTE</th>
          <th >ANIMAL ACCUEILLI</th>
          <th >SUPP/EDIT</th>
        </tr>
      </thead>
      <tbody>
  
      <% for(let hostFamilyTab of allHostFamilly.gard){ %>

          <% if(hostFamilyTab.disponibility===true){ %>
              <tr style="background-color: rgb(141, 214, 153)" data-toggle="modal" data-target=".bd-familyHost-modal-lg<%= hostFamilyTab.id %>">
          <% } else{ %>
              <tr data-toggle="modal" data-target=".bd-familyHost-modal-lg<%= hostFamilyTab.id %>">
          <% } %>

          <td><%= hostFamilyTab.firstname %></td>
          <td><%= hostFamilyTab.lastname %></td>
          <td><%= hostFamilyTab.number_phone %></td>
          <td><%= hostFamilyTab.postal_code %></td>
          <td><%= hostFamilyTab.city %></td>
          <td><%= hostFamilyTab.adress %></td>
          <td><%= hostFamilyTab.email %></td>
          <td><%= hostFamilyTab.pet_composition %></td>
          <td><%= hostFamilyTab.pet_accepted %>
          <td><%= hostFamilyTab.pet_asela %></td>
          <td>
            <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="SuppHostFamilyModal<%= hostFamilyTab.id %>" data-toggle="modal" data-target="#SuppHostFamilyModal<%= hostFamilyTab.id %>" >
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
              </svg>
          </button>
            <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="EditHostFamilyModal<%= hostFamilyTab.id %>" data-toggle="modal" data-target="#EditHostFamilyModal<%= hostFamilyTab.id %>">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
          </button>
          </td>
          <!-------------------------------------------------MODAL FA------------------------------------>
          <div class="modal fade bd-familyHost-modal-lg<%= hostFamilyTab.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="row gutters-sm">
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                          <img src="/img/dogcatprofil.png" alt="Admin" class="rounded-circle" width="150">
                          <div class="mt-3">
                            <h4><%= hostFamilyTab.lastname %> <%= hostFamilyTab.firstname %></h4>
                            <p class="text-secondary mb-1">Possede : <%= hostFamilyTab.pet_composition %></p>
                            <p class="text-secondary mb-1">Disponibilité: <input type="checkbox" checked data-toggle="toggle" data-on="Dispo" data-off="Indispo" data-onstyle="success" data-offstyle="danger" style="width: 5rem;"> </p> 
                            <p class="text-secondary mb-1">Possede : <%= hostFamilyTab.pet_composition %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card mt-3">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0">Chats acceptés</h6>
                          <span class="text-secondary" style="color: green !important; font-weight: bold; ">Oui</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0">Chatons acceptés</h6>
                          <span class="text-secondary" style="color: red !important; font-weight: bold; ">Non</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0">Chiens acceptés</h6>
                          <span class="text-secondary" style="color: green !important; font-weight: bold; ">Oui</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0">Chiots acceptés</h6>
                          <span class="text-secondary" style="color: green !important; font-weight: bold; ">Oui</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                          <h6 class="mb-0">Spécificité</h6>
                          <span class="text-secondary" style="font-weight: bold; "><%= hostFamilyTab.pet_accepted %></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <%= hostFamilyTab.email %>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Téléphone</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <%= hostFamilyTab.number_phone %>
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Adresse</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            <%= hostFamilyTab.adress %> <br>
                            <%= hostFamilyTab.postal_code%> <%= hostFamilyTab.city%>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <div class="card-body">
                          Commentaire: <%= hostFamilyTab.comment%>
                        </div>
                      </div>
                      <hr>
                      <form>
                        <div class="form-group">
                          <label for="message-text" class="mb-0">Ajouter un commentaire:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                      <button type="button" class="btn btn-primary">Envoyer le commentaire</button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
          </div>
              </div>
            </div>
          </div>
        <% } %>
      </tbody>
  </table>
  
</div>

<!--------------------------------------FA HERAULT----------------------------------------------->

<div class="tab-pane fade table table-bordered table-responsive tableFixHead" id="profile" role="tabpanel" aria-labelledby="profile-tab">
   
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">PRENOM</th>
            <th scope="col">NOM DE FAMILLE</th>
            <th scope="col">TELEPHONE</th>
            <th scope="col">CODE POSTAL</th>
            <th scope="col">VILLE</th>
            <th scope="col">ADRESSE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">COMPOSITION FAMILLE</th>
            <th scope="col">ANIMAL ACCEPTE</th>
            <th scope="col">ANIMAL ACCUEILLI</th>
            <th scope="col">SUPP/EDIT</th>
          </tr>
        </thead>
        <tbody data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    
        <% for(let hostFamilyTab of allHostFamilly.herault){ %>
    
          <% if(hostFamilyTab.disponibility===true){ %>
            <tr style="background-color: rgb(141, 214, 153)">
          <% } else{ %>
            <tr>
          <% } %>
            <td><%= hostFamilyTab.firstname %></td>
            <td><%= hostFamilyTab.lastname %></td>
            <td><%= hostFamilyTab.number_phone %></td>
            <td><%= hostFamilyTab.postal_code %></td>
            <td><%= hostFamilyTab.city %></td>
            <td><%= hostFamilyTab.adress %></td>
            <td><%= hostFamilyTab.email %></td>
            <td><%= hostFamilyTab.pet_composition %></td>
            <td><%= hostFamilyTab.pet_accepted %>
            <td><%= hostFamilyTab.pet_asela %></td>
            <td>
              <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="SuppHostFamilyModal<%= hostFamilyTab.id %>" data-toggle="modal" data-target="#SuppHostFamilyModal<%= hostFamilyTab.id %>" >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
                </svg>
            </button>
              <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="EditHostFamilyModal<%= hostFamilyTab.id %>" data-toggle="modal" data-target="#EditHostFamilyModal<%= hostFamilyTab.id %>">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
            </button>
            </td>

          </tr>
    
          <% } %>
    
        </tbody>
    </table>
    </div>

<!--------------------------------------FA AUTRE----------------------------------------------->
<div class="tab-pane fade table table-bordered table-responsive tableFixHead" id="contact" role="tabpanel" aria-labelledby="contact-tab">

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">NOM DE FAMILLE</th>
            <th scope="col">PRENOM</th>
            <th scope="col">TELEPHONE</th>
            <th scope="col">CODE POSTAL</th>
            <th scope="col">VILLE</th>
            <th scope="col">ADRESSE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">COMPOSITION FAMILLE</th>
            <th scope="col">ANIMAL ACCEPTE</th>
            <th scope="col">ANIMAL ACCUEILLI</th>
            <th scope="col">SUPP/EDIT</th> 
          </tr>
        </thead>
        <tbody>
    
        <% for(let hostFamilyTab of allHostFamilly.autre){ %>
    
          <% if(hostFamilyTab.disponibility===true){ %>
            <tr style="background-color: rgb(141, 214, 153)">
          <% } else{ %>
            <tr>
          <% } %>
            <td><%= hostFamilyTab.lastname %></td>
            <td><%= hostFamilyTab.firstname %></td>
            <td><%= hostFamilyTab.number_phone %></td>
            <td><%= hostFamilyTab.postal_code %></td>
            <td><%= hostFamilyTab.city %></td>
            <td><%= hostFamilyTab.adress %></td>
            <td><%= hostFamilyTab.email %></td>
            <td><%= hostFamilyTab.pet_composition %></td>
            <td><%= hostFamilyTab.pet_accepted %>
            <td><%= hostFamilyTab.pet_asela %></td>
            <td><button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="SuppHostFamilyModal<% hostFamilyTab.id %>" data-toggle="modal" data-target="#SuppHostFamilyModal<% hostFamilyTab.id %>">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"></path>
              </svg>
          </button>
              <button type="button" class="btn btn-outline-primary" aria-haspopup="dialog" aria-controls="EditHostFamilyModal" data-toggle="modal" data-target="#EditHostFamilyModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
            </button>
            </td>
          </tr>
    
          <% } %>
    
        </tbody>
    </table>
    </div>
</div>


<!-------------------------------------------------MODAL MODIFIER FA------------------------------------>
<% for(let hostFamilyTab of allHostFamilly.all){ %>
  <div class="modal fade" id="EditHostFamilyModal<%= hostFamilyTab.id %>" tabindex="-1" role="dialog" aria-labelledby="Editer-une-fa" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content" data-article-id="<%= hostFamilyTab.id %>">
          <div class="modal-header">
            <h5 class="modal-title" id="Editer-une-fa">Modifier la FA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" method="POST">
                        <header class="modal-card-head">
                                  <button class="delete close" type="button" aria-label="close"></button>
                            <button class="delete close" type="button" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Prénom</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.firstname %>" aria-describedby="inputGroup-sizing-default" id="editFirstname<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Nom</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.lastname %>" aria-describedby="inputGroup-sizing-default" id="editLastname<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Numéro de Téléphone</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.number_phone %>" aria-describedby="inputGroup-sizing-default" id="editNumberPhone<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Code postal</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="editPostalCode<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Ville</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.city %>" aria-describedby="inputGroup-sizing-default" id="editCity<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Adresse</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.adress %>" aria-describedby="inputGroup-sizing-default" id="editAdress<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Email</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.email %>" aria-describedby="inputGroup-sizing-default" id="editEmail<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Composition de la FA</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.pet_composition %>" aria-describedby="inputGroup-sizing-default" id="editComposition<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Animaux acceptés</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.pet_accepted%>" aria-describedby="inputGroup-sizing-default" id="editAcceptedPet<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Animaux accueillis</span>
                              </div>
                              <input type="text" class="form-control" aria-label="Default" value="<%= hostFamilyTab.pet_asela %>" aria-describedby="inputGroup-sizing-default" id="editPetAsela<%= hostFamilyTab.id %>">
                              </div>
                          </div>
                
                          <div class="field">
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Disponible</span>
                              </div>
                              <%  if(hostFamilyTab.disponibility == true){ %>
                              <select class="custom-select" id="editDisponibility<%= hostFamilyTab.id %>">
                                <option value="true" >Oui</option>
                                <option value="false">Non</option>
                              </select>
                              <%} else{ %>
                                  <select class="custom-select" id="editDisponibility<%= hostFamilyTab.id %>">
                                      <option value="false">Non</option>
                                      <option value="true" >Oui</option>
                                  </select>
                              <% } %>
                              </div>
                          </div>             
            </section>
        </form>
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary editHostFamillyValidate">Sauvegarder les modifications</button>
        </div>
    </div>
    </div>
    </div>
  
    <!------------------------------MODAL SUPPRIMER OUI NON GARD------------------------->   
  <div class="modal" tabindex="-1" role="dialog" id="SuppHostFamilyModal<%= hostFamilyTab.id %>">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Suppression d'une FA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Souhaitez-vous vraiment supprimer <%= hostFamilyTab.firstname %> <%= hostFamilyTab.lastname %> des FA ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Oui</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% } %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/hostfamily.js"></script>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script>
  var $th = $('.tableFixHead').find('thead')
$('.tableFixHead').on('scroll', function() {
  $th.css('transform', 'translateY('+ this.scrollTop +'px)');
});
</script>

</body>