<%- include('partials/header') %>

<div >
  <h3 style="text-align:center;"> ASELA > Profil Adoptant n°<%= adoptant[0].id %> de <%= adoptant[0].lastname %> <%= adoptant[0].firstname %></h3>
</div>

<div class="row gutters-sm">
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-header1">
        <h5 class="titlePet">Famille</h5>
        <hr>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h6 class="mb-0">Adoptant:</h6>
            </div>
            <div class="col-sm-6 text-secondary">
              <%= adoptant[0].lastname %> <%= adoptant[0].firstname %><br>
              <%= adoptant[0].birthday %><br>
              <%= adoptant[0].job %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h6 class="mb-0">Conjoint:</h6>
            </div>
            <div class="col-sm-6 text-secondary">
              <% if(adoptant[0].spouselastname){%> 
                <%= adoptant[0].spouselastname %> <%= adoptant[0].spousefirstname %> <br>
                <% if(adoptant[0].spousebirthday){%> <%= adoptant[0].spousebirthday %> <br> <% } %> 
                <% if(adoptant[0].spousejob){%> <%= adoptant[0].spousejob %> <% } %>   
              <% }else{ %>
                /
              <%} %>   
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h6 class="mb-0">Famille:</h6>
            </div>
            <div class="col-sm-6 text-secondary">
              <%= adoptant[0].numberadulthome %> adultes <br>
           <% if(adoptant[0].numberchlidhome >= 1){ %>
             <%= adoptant[0].numberchlidhome %> enfant(s)
             <% } %>
            </div>
          </div>
      </div>
    </div>
    <div class="card mt-3" >
      <div class="card-header1">
        <h5 class="titlePet">Liste des animaux adopté</h5>
        <hr>
      </div>
      <div class="card-body">
          <% for(let pet of petAdopt){ %>
            <h6 class="mb-0"></h6>
            <h4 class="title_pet"><%= pet.name %> <span class="text-secondary"><%= pet.type %></span></h4>
            Identification: <span class="text-secondary"><%= pet.ide %></span> <br>
            Date d'adoption: <span class="text-secondary"><%= pet.date_adopting.toLocaleString('en-GB').substr(0, 10) %></span>
          <% } %> 
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mb-3">
      <div class="card-header1">
        <h5 class="titlePet">Informations</h5>
        <hr>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= adoptant[0].email %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Téléphone</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= adoptant[0].number_phone %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Adresse</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= adoptant[0].adress %> <br>
            <%= adoptant[0].postal_code %> <%= adoptant[0].city %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Questionnaire</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <a href="<%=  %>">Voir le questionnaire</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-body comment" data-article-id="<%=adoptant[0].id %>">
      <div class="card">
        <div class="card-header1">
          <h5 class="titlePet">Commentaires</h5>
          <hr>
        </div>
        <div class="card-body">
          <% for(let comment of commentAdoptant){ %>
            <div class="row" data-toggle="modal" data-target="#modalComment<%=comment.id %>">
              <div class="col-sm-3">
                <h6 class="mb-0"> <%= comment.date_comment.toLocaleString('en-GB').substr(0, 10) %>  </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= comment.commentaire %>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modalComment<%=comment.id %>" tabindex="-1" role="dialog" aria-labelledby="modalComment" aria-hidden="true">
              <div class="modal-dialog" role="document" >
                  <div class="modal-content" data-article-id="<%=comment.id %>">
                      <div class="modal-header">
                          <h5 class="modal-title" id="commentModalLabel">Editer/supprimer mon commentaire</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                         <form>
                          <div class="form-group">
                              <label for="clauseArea">Commentaire à modifier:</label>
                              <textarea class="form-control" id="commentaireEDITION<%=comment.id %>" value="" rows="10"><%= comment.commentaire %></textarea>
                            </div>
                         </form>
                      </div>
                      <div class="modal-footer threebtn">
                          <button type="button" class="btn btn-danger deleteComment">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                          </button>
                          <span class="pull-right">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                              <button type="button" class="btn btn-primary editCommentaire">Valider</button>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
            <% } %> 
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <label for="message-text" class="mb-0">Ajouter un commentaire</label>
          <textarea class="form-control" id="commentAdoptant" ></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary addCommentAdoptant">Envoyer le commentaire</button>  
        </div>
      </form>
    </div>
  </div>
</div>
                      
<%- include('partials/footer') %>
<script src="/js/adoptants.js"></script>
<script src="/js/app.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

