<%- include('partials/header') %>

<div class="row gutters-sm">
    <div class="col-md-12">
        <div class="card card-title">
            <div class="card-header22">
                <h4 style="text-align:center;" class="card-title">Fiche Animal > <%= pet.name %>
                    <%if(pet.adopt === true){%>
                        <span class="Title-new-name-pet"> (<%= pet.last_name_pet %>)</span>
                    <%}%> 
                </h4>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card" data-article-id="<%= pet.id %>">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <%if(imgPet.length === 0){ %>
                        <div class="carousel-item active">
                            <div class="card-avatar" style="background-image: url(/uploads/dog.gif);"></div>
                            <figcaption>Photo</figcaption>
                        </div> 
                    <%} else if(imgPet.length === 1){ %>             
                        <div class="carousel-item active">
                            <div class="card-avatar" style="background-image: url(/uploads/<%=imgPet[0].title%>);"></div>
                            <figcaption data-toggle="modal" data-target="#modalComment<%= imgPet[0].id %>" >Photo <%= imgPet[0].id %>  </figcaption>
                        </div>
                    <% }else{ %>
                        <div class="carousel-item active">
                             <div class="card-avatar" style="background-image: url(/uploads/<%=imgPet[0].title%>);"></div>
                             <figcaption data-toggle="modal" data-target="#modalComment<%= imgPet[0].id %>">Photo <%= imgPet[0].id %>  </figcaption>
                        </div>
                        <% for(let photo of imgPet){ %>
                            <% if( photo.id != imgPet[0].id){ %>
                                <div class="carousel-item">
                                    <div class="card-avatar" style="background-image: url(/uploads/<%=photo.title%>);"></div>
                                    <div data-toggle="modal" data-target="#modalComment<%= photo.id %>">
                                    <figcaption >Photo <%= photo.id %>  </figcaption></div>
                                </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>                     
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            <button type="button" class="btn btn-primary btn-upload" data-toggle="modal" aria-controls="AddPicturePetModal" data-target="#AddPicturePetModal">Ajouter des photos</button>
        </div>
        <div class="card mt-3" >
            <div class="card-header">
                <button type="button" class="btn-gear-fill" aria-haspopup="dialog" aria-controls="editIdFA" data-toggle="modal" data-target="#editIdFA">
                    <svg class="bi-gear-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewbox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                </button>
                Informations
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-support" data-article-id="<%= pet.id %>">
                        <h6 class="mb-1">Prise en charge:</h6>
                        <div class="field">
                            <div class="input-group mb-3">
                                <% if(pet.date_supported){ %>
                                    <input type="date" class="form-control" aria-label="Default" value="<%= pet.date_supported.toLocaleDateString('ja-JP', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/\//gi,'-') %>" aria-describedby="inputGroup-sizing-default" id="valideSupportedPet">
                                <% }else{ %>
                                  <input type="date" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="valideSupportedPet">
                                <% } %>
                                <button type="button" class="btn btn-outline-primary checkDateSupported">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewbox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                  </svg>
                                </button>  
                            </div>                        
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="form-vaccine" data-article-id="<%= pet.id %>">
                        <h6 class="mb-1">Prise du vaccin:</h6>
                        <div class="field">
                            <div class="input-group mb-3">
                                <% if(pet.date_vaccine){ %>
                                    <input type="date" class="form-control" aria-label="Default" value="<%= pet.date_vaccine.toLocaleDateString('ja-JP', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/\//gi,'-') %>" aria-describedby="inputGroup-sizing-default" id="ValideDateVaccine">
                                <% }else{ %>
                                  <input type="date" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="ValideDateVaccine">
                                <% } %>
                                <button type="button" class="btn btn-outline-primary checkDateVaccine">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewbox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                  </svg>
                                </button>  
                            </div>                        
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Identification:</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        <%= pet.ide %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Stériliser:</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        <% if(pet.sterilised === true){ %>
                            Oui
                        <% } else { %>
                            Non
                        <% } %> 
                    </div>
                </div>
                <% if(pet.booked == true){%>
                    <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Reservé par:</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                        <%= pet.booked_name %> 
                    </div>
                </div>
                <% } %> 
                <% if(adoptant[0]){ %>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Date adoption:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= pet.date_adopting.toLocaleString('en-GB').substr(0, 10) %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Adoptant:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= adoptant[0].lastname %> <%= adoptant[0].firstname %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Adresse:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= adoptant[0].adress %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Ville:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= adoptant[0].postal_code %> <%= adoptant[0].city %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Téléphone:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= adoptant[0].number_phone %>
                        </div>
                    </div>
                <% }else if(hostFamilly[0]){ %>
                    <hr>
                    <div class="row">
                         <div class="col-sm-6">
                            <h6 class="mb-0">Famille d'accueil:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= hostFamilly[0].lastname %> <%= hostFamilly[0].firstname %>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Adresse:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= hostFamilly[0].adress %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Ville:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= hostFamilly[0].postal_code %> <%= hostFamilly[0].city %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="mb-0">Téléphone:</h6>
                        </div>
                        <div class="col-sm-6 text-secondary">
                            <%= hostFamilly[0].number_phone %>
                        </div>
                    </div>
                <% }else{ %>
                    <hr>
                    Veuillez selectionner une famille d'accueil ou ajouter un adoptant.
                <% } %>  
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-header">
                <button type="button" id="editionPetButton" class="btn-gear-fill" aria-haspopup="dialog" aria-controls="editIdFA" data-toggle="modal" data-target="#editModalDog">
                    <svg class="bi-gear-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewbox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                    </svg>
                </button>
                Fiche de <%= pet.name %> 
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p><%= pet.name %></p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Race</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p><%= pet.breed %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Né(e) le:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p><% if(pet.age){ %> <%= pet.age.toLocaleString('en-GB').substr(0, 10) %> <% }else{ %> Inconnu <%}%></p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Taille</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p> <% if(pet.weight){ %> <%= pet.weight  %> <% }else{ %> Inconnu <%}%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Robe</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p> <% if(pet.color){ %> <%= pet.color  %> <% }else{ %> Inconnu <%}%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Entente</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p> <% if(pet.amity){ %> <%= pet.amity  %> <% }else{ %> Inconnu <%}%></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Description</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p style="white-space: pre-line;"> <% if(pet.description){ %> <%= pet.description  %> <% }else{ %> Inconnu <%}%></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Questionnaires
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date Reception</th>
                            <th scope="col">Identité</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Type residence</th>
                            <th scope="col">Liste des animaux</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let questionnaires of questionnaire){ %>
                            <tr onclick="document.location.href='/v1/questionnaire/<%= questionnaires.id%>'" >
                                <td data-label="Date Reception"><%= questionnaires.date_sending.toLocaleString('en-GB').substr(0, 10) %> </td>
                                <td data-label="Identité"><%= questionnaires.lastname%> <%= questionnaires.firstname %></td>
                                <td data-label="Ville"><%= questionnaires.postal_code%> <%= questionnaires.city%></td>
                                <td data-label="Téléphone"><%= questionnaires.number_phone%></td>
                                <td data-label="Type residence"><%= questionnaires.type_residence%></td>
                                <td data-label="Liste des animaux"><%= questionnaires.pet_familly2%></td>
                            </tr>
                        <% } %> 
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cart-body comment" data-article-id="<%=pet.id %>">
            <div class="card">
                <div class="card-header">
                    Commentaires
                </div>
                <div class="card-body">
                    <%if(comments.length === 0){ %>
                        <div class="row">
                            <div class="col-sm-9 text-secondary">
                             Il n'y a aucun commentaire.
                            </div>
                          </div>
                    <%} else if(comments.length === 1){ %>
                        <div class="row" data-toggle="modal" data-target="#modalComment<%=comments[0].id %>">
                            <div class="col-sm-3">
                                <h6 class="mb-0"> <%= comments[0].date_comment.toLocaleString('en-GB').substr(0, 10) %>  </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= comments[0].commentaire %>
                            </div>
                        </div>
                    <% }else{ %>
                        <div class="row" data-toggle="modal" data-target="#modalComment<%=comments[0].id %>">
                            <div class="col-sm-3">
                              <h6 class="mb-0"> <%= comments[0].date_comment.toLocaleString('en-GB').substr(0, 10) %>  </h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              <%= comments[0].commentaire %>
                            </div>
                        </div>
                        <% for(let comment of comments){ %>
                            <% if( comment.id != comments[0].id){ %> 
                                <hr>
                                <div class="row" data-toggle="modal" data-target="#modalComment<%=comment.id %>">
                                    <div class="col-sm-3">
                                      <h6 class="mb-0"> <%= comment.date_comment.toLocaleString('en-GB').substr(0, 10) %>  </h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                      <%= comment.commentaire %>
                                    </div>
                                  </div>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <hr>
            <form >
                <div class="form-group">
                    <label for="message-text" class="mb-0">Ajouter un commentaire</label>
                    <textarea class="form-control" id="commentPet" ></textarea>
                </div>
            </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary addCommentPet">Envoyer le commentaire</button>  
        </div>
    </div>
    </div>
</div>

<!--------------------------------------Modale Ajouter des photos---------------------------------->
<div class="modal" id="AddPicturePetModal" tabindex="-1" role="dialog" aria-labelledby="AddPicturePetModal" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content photo" data-article-id="<%= pet.id %>">
            <form action="/photos/upload/<%= pet.id %>" method="post" enctype="multipart/form-data" class="uploadpet">
                <div class="modal-header">
                    <h5 class="modal-title">Ajout de photo d'animaux</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="center">
                    <div class="modal-body">
                        <label for="files">Envoyer vos photos</label>
                        <input type="file" name="files[]" id="picturepet" is="drop-files" label="Inserer vos fichiers"/>             
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary addPicturePets" value="Télécharger">
                </div>   
            </form>
        </div>
    </div>
</div>

<!-- Modal selectionner famille d'acceuil -->
<div class="modal fade" id="editIdFA" tabindex="-1" role="dialog" aria-labelledby="editIdFA" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-article-id="<%= pet.id %>">
            <div class="modal-header">
                <h5 class="modal-title"> Selectionner une autre famille d'accueil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="custom-select" id="SelectHostFamily">
                    <% if(!hostFamilly[0]){ %>               
                        <option> Choisir* </option> 
                        <% for(let familly of allHostFamilly){ %>
                          
                            <option value="<%= familly.id%>"><%= familly.lastname %> <%= familly.firstname %> de <%=familly.city %></option> 
                        <% } %>
                    <% }else if(hostFamilly[0].lastname){ %>
                        <option style="background-color: rgba(131, 98, 168, 0.207);" value="<%= hostFamilly[0].id%>"><%= hostFamilly[0].lastname %> <%= hostFamilly[0].firstname %> de <%=hostFamilly[0].city %></option> 
                        <% for(let familly of allHostFamilly){ %>  
                            <option value="<%= familly.id%>"><%= familly.lastname %> <%= familly.firstname %> de <%= familly.city %></option>
                        <% } %>
                    <% } %> 
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary saveHostFamily">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------Modale Modifier Pet------------------------------------>
<div class="modal fade" id="editModalDog" tabindex="-1" role="dialog" aria-labelledby="Ajout-event" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-article-id="<%= pet.id %>">
            <div class="modal-header">
                <h5 class="modal-title" id="Ajout-event">Modifier cet animal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <header class="modal-card-head">
                        <div class="alert alert-info" role="alert">
                            Attention certaines données sont directement connectées au site web, attention à l'orthographe!
                        </div>
                        <button class="delete close" type="button" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="<%= pet.name %>" aria-describedby="inputGroup-sizing-default" id="editNamePet">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Age</span>
                                </div>
                                <% if(pet.age){%> 
                                    <input type="date" class="form-control" aria-label="Default" value="<%= pet.age.toLocaleDateString('ja-JP', {year: 'numeric', month: '2-digit', day: '2-digit'}).replace(/\//gi,'-') %>" aria-describedby="inputGroup-sizing-default" id="editAgePet">
                                <%}else{%> 
                                    <input type="date" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="editAgePet">
                                <% } %>                                
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Entente</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="<%= pet.amity %>" aria-describedby="inputGroup-sizing-default" id="editAmityPet">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Sexe</span>
                                </div>
                                <select class="custom-select" id="editSexePet">
                                    <% if (pet.sexe === "Mâle") { %>
                                        <option selected="Mâle">Mâle</option>
                                        <option value="Femelle">Femelle</option>
                                    <% }else if (pet.sexe === "Femelle"){ %>
                                        <option selected="Femelle">Femelle</option>
                                        <option value="Mâle">Mâle</option>
                                    <% }else{ %>
                                        <option selected>Choisir*</option>
                                        <option value="Femelle">Femelle</option>
                                        <option value="Mâle">Mâle</option>
                                    <% }%>
                                </select>  
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Taille</label>
                            </div>
                            <select class="custom-select" id="editWeight">
                                <% if (pet.weight === "Petit Gabarit") { %>
                                    <option selected="Petit Gabarit">Petit Gabarit</option>
                                    <option value="Moyen Gabarit">Moyen Gabarit</option>
                                    <option value="Grand Gabarit">Grand Gabarit</option>
                                    <option value="Très Grand Gabarit"> Très Grand Gabarit</option>
                                <% }else if (pet.weight === "Moyen Gabarit") { %>
                                    <option selected="Moyen Gabarit">Moyen Gabarit</option>
                                    <option value="Petit Gabarit">Petit Gabarit</option>
                                    <option value="Grand Gabarit">Grand Gabarit</option>
                                    <option value="Très Grand Gabarit"> Très Grand Gabarit</option>
                                <% }else if (pet.weight === "Grand Gabarit") { %>
                                    <option selected="Grand Gabarit">Grand Gabarit</option>
                                    <option value="Petit Gabarit">Petit Gabarit</option>
                                    <option value="Moyen Gabarit">Moyen Gabarit</option>
                                    <option value="Très Grand Gabarit"> Très Grand Gabarit</option>
                                <% }else if (pet.weight === "Très Grand Gabarit") { %>
                                    <option selected="Très Grand Gabarit">Très Grand Gabarit</option>
                                    <option value="Petit Gabarit">Petit Gabarit</option>
                                    <option value="Moyen Gabarit">Moyen Gabarit</option>
                                    <option value="Grand Gabarit">Grand Gabarit</option>
                                <% }else{ %>
                                    <option value="" selected>Choisir*</option>
                                    <option value="Petit Gabarit">Petit Gabarit</option>
                                    <option value="Moyen Gabarit">Moyen Gabarit</option>
                                    <option value="Grand Gabarit">Grand Gabarit</option>
                                    <option value="Très Grand Gabarit">Très Grand Gabarit</option>
                                <% }%>
                            </select>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Race</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="<%= pet.breed %>" aria-describedby="inputGroup-sizing-default" id="editBreedPet">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Couleur</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="<%= pet.color %>" aria-describedby="inputGroup-sizing-default" id="editColorPet">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Identification</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Default" value="<%= pet.ide %>" aria-describedby="inputGroup-sizing-default" id="editIdePet">
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Stérilisation</span>
                                </div>
                                <select class="custom-select" id="editSterilisedPet">
                                    <% if (pet.sterilised === true) { %>
                                        <option value="true" selected="true">oui</option>
                                        <option value="false">non</option>
                                    <% } else if (pet.sterilised === false) { %>
                                        <option value="true">oui</option>
                                        <option value="false" selected="false">non</option>
                                    <% } else { %>
                                        <option selected>Choisir*</option>
                                        <option value="true">oui</option>
                                        <option value="false">non</option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Photo profil</span>
                                </div>
                                <select class="custom-select" id="avatar">
                                    <% if(pet.avatar){ %>
                                        <option selected value="<%= pet.avatar %>"><%= pet.avatar %></option>
                                        <% for(let photo of imgPet){ %>
                                            <option value="<%= photo.title %>"><%= photo.id %></option>
                                        <% } %>
                                    <% }else { %>
                                    <option selected>Choisir*</option>
                                        <% for(let photo of imgPet){ %>
                                            <option value="<%= photo.title %>"><%= photo.id %></option>
                                        <% } %>
                                    <% } %>                 
                                </select>  
                            </div>
                        </div>

                        <div class="field">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Description</span>
                                </div>
                                <textarea class="form-control"  rows="10" aria-label="With textarea" id="editDescriptionPet"><%= pet.description %></textarea>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
            <div class="modal-footer threebtn">
                <button type="button" class="btn btn-danger deletePet">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
                <span class="pull-right">
                    <button type="button" class="btn btn-primary saveChangePet">Sauvegarder les modifications</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Fermer</button>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<% for(let photo of imgPet){ %>
<div class="modal fade" id="modalComment<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="modalComment<%= photo.id %>" aria-hidden="true">
    <div class="modal-dialog" role="document" >
        <div class="modal-content modal-image" data-article-id="<%=photo.id %>">
            <div class="modal-header">
                <h5 class="modal-title">Photo <%=photo.id %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <img style="max-width: -webkit-fill-available;" src="/uploads/<%=photo.title%>" alt="">
                    </div>
                </form>
            </div>
            <div class="modal-footer threebtn">
                <button type="button" class="btn btn-danger deleteImg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
                <span class="pull-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </span>
            </div>
        </div>
    </div>
</div>
<% } %>
<% for(let comment of comments){ %>
    <!-- Modal -->
    <div class="modal fade" id="modalComment<%=comment.id %>" tabindex="-1" role="dialog" aria-labelledby="modalComment" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content modal-comment" data-article-id="<%=comment.id %>">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel" > Supprimer mon commentaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="clauseArea">Supprimer mon commentaire</label>
                            <p><%= comment.commentaire %></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer threebtn">
                    <button type="button" class="btn btn-danger deleteCommentPet">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                    <span class="pull-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
<%  }%>

<%- include('partials/footer') %>

<script type="module" src="//unpkg.com/@grafikart/drop-files-element"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="/js/app.js"></script>
<script src="/js/onepet.js"></script>
<script src="/js/pet.js"></script>



