<%- include('partials/header') %>

<div >
    <h3 style="text-align:center;"> ASELA > Nos Vetérinaires Partenaires </h3>
</div>

<div class ="bande-top">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="gard-tab" data-toggle="tab" href="#gard" role="tab" aria-controls="gard" aria-selected="true">Vetérinaires du Gard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="herault-tab" data-toggle="tab" href="#herault" role="tab" aria-controls="herault" aria-selected="false">Vetérinaires de l'Hérault</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Vetérinaires autres départements</a>
        </li>
        <li class="nav-item">
            <button type="button" class="nav-link btn btn-purple createVet" data-toggle="modal" data-target="#addVetModal">+ Ajouter un partenaire</button>
        </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        <!--------------------------------------------Section Veterinaires GARD--------------------------------------->
        <div class="tab-pane fade show active" id="gard" role="tabpanel" aria-labelledby="gard-tab">
            <table class="table table-hover">
                <thead >
                    <tr>
                      <th scope="col">Clinique</th>
                      <th scope="col">Téléphone</th>
                      <th scope="col">Adresse</th>
                      <th scope="col">Email</th>
                      <th scope="col">Cast. Chiens</th>
                      <th scope="col">Ster. 10 KG</th>
                      <th scope="col">Ster. 10/25 KG</th>
                      <th scope="col">Ster. 25/40 KG</th>
                      <th scope="col">Ster. + 40 KG</th>
                      <th scope="col">Vaccin Chiens</th>
                      <th scope="col">IDE Chiens</th>
                      <th scope="col">Cast. Chats</th>
                      <th scope="col">Pack Chats M</th>
                      <th scope="col">Ster. Chats</th>
                      <th scope="col">Pack Chats F</th>
                      <th scope="col">Vaccin Chats</th>
                      <th scope="col">IDE Chats</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let veterinaryTab of allveterinary.gard){ %>
                      <tr data-toggle="modal" data-target="#VetModalGard<%= veterinaryTab.id %>">
                        <td data-label="Nom"><%= veterinaryTab.name %></td>
                        <td data-label="Téléphone"><%= veterinaryTab.number_phone %></td>
                        <td data-label="Adresse"><%= veterinaryTab.postal_code %> <%= veterinaryTab.city %> - <%= veterinaryTab.adress %></td>
                        <td data-label="Email"><%= veterinaryTab.email %></td>
                        <td data-label="Prix chien castration"><%= veterinaryTab.dog_castration %></td>
                        <td data-label="Prix chien Str < 10 kg"><%= veterinaryTab.dog_ovario_10 %></td>
                        <td data-label="Prix chien 10 kg < Str < 25 kg"><%= veterinaryTab.dog_ovario_10_25 %></td>
                        <td data-label="Prix chien 25 kg < Str < 40 kg"><%= veterinaryTab.dog_ovario_25_40 %></td>
                        <td data-label="Prix chien Str > 40 kg"><%= veterinaryTab.dog_ovario_40 %></td>
                        <td data-label="Prix vaccin chien"><%= veterinaryTab.dog_vaccine %></td>
                        <td data-label="Prix ide chien"><%= veterinaryTab.dog_ide %></td>
                        <td data-label="Prix chat castration"><%= veterinaryTab.cat_castration %></td>
                        <td data-label="Prix pack ide/cast"><%= veterinaryTab.cat_castration_tatouage %></td>
                        <td data-label="Prix Str chat"><%= veterinaryTab.cat_ovario %></td>
                        <td data-label="Prix pack Str/Ide"><%= veterinaryTab.cat_ovario_tatouage %></td>
                        <td data-label="Prix vaccin chat"><%= veterinaryTab.cat_vaccine %></td>
                        <td data-label="Prix ide chat"><%= veterinaryTab.cat_ide %></td>    
                    </tr>
                    <!-------------------------------------------------MODAL MODIFIER VETERINARY------------------------------------>
                    <div class="modal fade" id="VetModalGard<%= veterinaryTab.id %>" tabindex="-1" role="dialog" aria-labelledby="edit-veterinary" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content"  data-article-id="<%= veterinaryTab.id %>">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="Editer-un-veterinary">Modifier le vétérinaire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                                <form class="registrationFormGard" action="" method="POST">
                                                    <section class="modal-card-body">
                                                        <section class="modal-card-body">
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Nom de la Clinique</span>
                                                                    </div>
                                                                    <input type="text" class="form-control name" aria-label="Default" value="<%= veterinaryTab.name %>" aria-describedby="inputGroup-sizing-default" id="name<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                Identité           <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Ville</span>
                                                                    </div>
                                                                    <input type="text" class="form-control city" aria-label="Default" value="<%= veterinaryTab.city %>" aria-describedby="inputGroup-sizing-default" id="city<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Code Postal</span>
                                                                    </div>
                                                                    <input type="text" class="form-control postal_code" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="postal_code<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Adresse</span>
                                                                    </div>
                                                                    <input type="text" class="form-control postal_code" aria-label="Default" value="<%= veterinaryTab.adress %>" aria-describedby="inputGroup-sizing-default" id="adress<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Téléphone</span>
                                                                    </div>
                                                                    <input type="text" class="form-control" aria-label="Default" value="<%= veterinaryTab.number_phone %>" aria-describedby="inputGroup-sizing-default" id="number_phone<%= veterinaryTab.id %>" >
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Email</span>
                                                                    </div>
                                                                    <input type="text" class="form-control email" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="email<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix castration chien</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_castration" aria-label="Default" value="<%= veterinaryTab.dog_castration %>" aria-describedby="inputGroup-sizing-default" id="dog_castration<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix stérilisation chien 10 Kg</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_ovario_10" aria-label="Default" value="<%= veterinaryTab.dog_ovario_10 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix stérilisation chien 10 à 25 Kg</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_ovario_10_25" aria-label="Default" value="<%= veterinaryTab.dog_ovario_10_25 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10_25<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix stérilisation chien 25 à 40 Kg</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_ovario_25_40" aria-label="Default" value="<%= veterinaryTab.dog_ovario_25_40 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_25_40<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix stérilisation chien 40 Kg</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_ovario_40" aria-label="Default" value="<%= veterinaryTab.dog_ovario_40 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_40<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix vaccination chien</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_vaccine" aria-label="Default" value="<%= veterinaryTab.dog_vaccine %>" aria-describedby="inputGroup-sizing-default" id="dog_vaccine<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix identification chien</span>
                                                                    </div>
                                                                    <input type="text" class="form-control dog_ide" aria-label="Default" value="<%= veterinaryTab.dog_ide %>" aria-describedby="inputGroup-sizing-default" id="dog_ide<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix castration chat</span>
                                                                    </div>
                                                                    <input type="text" class="form-control cat_castration" aria-label="Default" value="<%= veterinaryTab.cat_castration %>" aria-describedby="inputGroup-sizing-default" id="cat_castration<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Pack castration et identification chat</span>
                                                                    </div>
                                                                    <input type="text" class="form-control cat_castration_tatouage" aria-label="Default" value="<%= veterinaryTab.cat_castration_tatouage%>" aria-describedby="inputGroup-sizing-default" id="cat_castration_tatouage<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix stérilisation chat</span>
                                                                    </div>
                                                                    <input type="text" class="form-control cat_ovario" aria-label="Default" value="<%= veterinaryTab.cat_ovario %>" aria-describedby="inputGroup-sizing-default" id="cat_ovario<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Pack stérilisation et identification</span>
                                                                    </div>
                                                                    <input type="text" class="form-control cat_ovario_tatouage" aria-label="Default" value="<%= veterinaryTab.cat_ovario_tatouage%>" aria-describedby="inputGroup-sizing-default" id="cat_ovario_tatouage<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix vaccination chat</span>
                                                                    </div>
                                                                    <input type="text" class="form-control cat_vaccine" aria-label="Default" value="<%= veterinaryTab.cat_vaccine %>" aria-describedby="inputGroup-sizing-default" id="cat_vaccine<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <div class="input-group mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">Prix identification chat</span>
                                                                    </div>
                                                                    <input type="text" class="form-control cat_ide" aria-label="Default" value="<%= veterinaryTab.cat_IDE %>" aria-describedby="inputGroup-sizing-default" id="cat_ide<%= veterinaryTab.id %>">
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </section>
                                                </form>
                                </div>
                                <div class="modal-footer threebtn">
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Envoyer en liste Rouge">
                                        <button type="button" class="btn btn-danger deleteVeterinary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                        </button>
                                    </span>
                                    <span class="pull-right">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Fermer</button>
                                        <button type="button" class="btn btn-primary saveEditVeterinary">Sauvegarder</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>      
                    <% } %>
                </tbody>
            </table>
        </div>
    <!--------------------------------------------Section Veterinaires Herault--------------------------------------->
        <div class="tab-pane fade" id="herault" role="tabpanel" aria-labelledby="herault-tab">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Clinique</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cast. Chiens</th>
                    <th scope="col">Ster. 10 KG</th>
                    <th scope="col">Ster. 10/25 KG</th>
                    <th scope="col">Ster. 25/40 KG</th>
                    <th scope="col">Ster. + 40 KG</th>
                    <th scope="col">Vaccin Chiens</th>
                    <th scope="col">IDE Chiens</th>
                    <th scope="col">Cast. Chats</th>
                    <th scope="col">Pack Chats M</th>
                    <th scope="col">Ster. Chats</th>
                    <th scope="col">Pack Chats F</th>
                    <th scope="col">Vaccin Chats</th>
                    <th scope="col">IDE Chats</th>
                </tr>
                </thead>
                <tbody>
                    <% for(let veterinaryTab of allveterinary.herault){ %>
                        <tr data-toggle="modal" data-target="#VetModalHerault<%= veterinaryTab.id %>">
                            <td data-label="Nom"><%= veterinaryTab.name %></td>
                            <td data-label="Téléphone"><%= veterinaryTab.number_phone %></td>
                            <td data-label="Adresse"><%= veterinaryTab.postal_code %> <%= veterinaryTab.city %> - <%= veterinaryTab.adress %></td>
                            <td data-label="Email"><%= veterinaryTab.email %></td>
                            <td data-label="Prix cast chien"><%= veterinaryTab.dog_castration %></td>
                            <td data-label="Prix chien Str < 10 kg"><%= veterinaryTab.dog_ovario_10 %></td>
                            <td data-label="Prix chien 10 kg < Str < 25 kg"><%= veterinaryTab.dog_ovario_10_25 %></td>
                            <td data-label="Prix chien 25 kg < Str < 40 kg"><%= veterinaryTab.dog_ovario_25_40 %></td>
                            <td data-label="Prix chien Str > 40 kg"><%= veterinaryTab.dog_ovario_40 %></td>
                            <td data-label="Prix chien vaccin"><%= veterinaryTab.dog_vaccine %></td>
                            <td data-label="Prix chien ide"><%= veterinaryTab.dog_ide %></td>
                            <td data-label="Prix chat cast"><%= veterinaryTab.cat_castration %></td>
                            <td data-label="Prix pack chat cast/ide"><%= veterinaryTab.cat_castration_tatouage %></td>
                            <td data-label="Prix chat Str"><%= veterinaryTab.cat_ovario %></td>
                            <td data-label="Prix pack chat Str/ide"><%= veterinaryTab.cat_ovario_tatouage %></td>
                            <td data-label="Prix chat vaccin"><%= veterinaryTab.cat_vaccine %></td>
                            <td data-label="Prix chat ide"><%= veterinaryTab.cat_ide %></td>    
                        </tr>
                        <!-------------------------------------------------MODAL MODIFIER VETERINARY------------------------------------>
                        <div class="modal fade" id="VetModalHerault<%= veterinaryTab.id %>" tabindex="-1" role="dialog" aria-labelledby="edit-veterinary" aria-hidden="false">
                            <div class="modal-dialog">
                                <div class="modal-content"  data-article-id="<%= veterinaryTab.id %>">
                                    <div class="modal-header">
                                        <h5 class="modal-title veterinary">Modifier le vétérinaire</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="edit-vet" action="" method="POST">
                                            <section class="modal-card-body">
                                                <section class="modal-card-body">
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Nom de la Clinique</span>
                                                            </div>
                                                            <input type="text" class="form-control name" aria-label="Default" value="<%= veterinaryTab.name %>" aria-describedby="inputGroup-sizing-default" id="name<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Ville</span>
                                                            </div>
                                                            <input type="text" class="form-control city" aria-label="Default" value="<%= veterinaryTab.city %>" aria-describedby="inputGroup-sizing-default" id="city<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Code Postal</span>
                                                            </div>
                                                            <input type="text" class="form-control postal_code" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="postal_code<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Adresse</span>
                                                            </div>
                                                            <input type="text" class="form-control adress" aria-label="Default" value="<%= veterinaryTab.adress %>" aria-describedby="inputGroup-sizing-default" id="adress<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Téléphone</span>
                                                            </div>
                                                            <input type="text" class="form-control" aria-label="Default" value="<%= veterinaryTab.number_phone %>" aria-describedby="inputGroup-sizing-default" id="number_phone<%= veterinaryTab.id %>" >
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Email</span>
                                                            </div>
                                                            <input type="text" class="form-control email" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="email<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix castration chien</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_castration" aria-label="Default" value="<%= veterinaryTab.dog_castration %>" aria-describedby="inputGroup-sizing-default" id="dog_castration<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix stérilisation chien 10 Kg</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_ovario_10" aria-label="Default" value="<%= veterinaryTab.dog_ovario_10 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix stérilisation chien 10 à 25 Kg</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_ovario_10_25" aria-label="Default" value="<%= veterinaryTab.dog_ovario_10_25 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10_25<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix stérilisation chien 25 à 40 Kg</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_ovario_25_40" aria-label="Default" value="<%= veterinaryTab.dog_ovario_25_40 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_25_40<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix stérilisation chien 40 Kg</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_ovario_40" aria-label="Default" value="<%= veterinaryTab.dog_ovario_40 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_40<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix vaccination chien</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_vaccine" aria-label="Default" value="<%= veterinaryTab.dog_vaccine %>" aria-describedby="inputGroup-sizing-default" id="dog_vaccine<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix identification chien</span>
                                                            </div>
                                                            <input type="text" class="form-control dog_ide" aria-label="Default" value="<%= veterinaryTab.dog_ide %>" aria-describedby="inputGroup-sizing-default" id="dog_ide<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix castration chat</span>
                                                            </div>
                                                            <input type="text" class="form-control cat_castration" aria-label="Default" value="<%= veterinaryTab.cat_castration %>" aria-describedby="inputGroup-sizing-default" id="cat_castration<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Pack castration et identification chat</span>
                                                            </div>
                                                            <input type="text" class="form-control cat_castration_tatouage" aria-label="Default" value="<%= veterinaryTab.cat_castration_tatouage%>" aria-describedby="inputGroup-sizing-default" id="cat_castration_tatouage<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix stérilisation chat</span>
                                                            </div>
                                                            <input type="text" class="form-control cat_ovario" aria-label="Default" value="<%= veterinaryTab.cat_ovario %>" aria-describedby="inputGroup-sizing-default" id="cat_ovario<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Pack stérilisation et identification</span>
                                                            </div>
                                                            <input type="text" class="form-control cat_ovario_tatouage" aria-label="Default" value="<%= veterinaryTab.cat_ovario_tatouage%>" aria-describedby="inputGroup-sizing-default" id="cat_ovario_tatouage<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix vaccination chat</span>
                                                            </div>
                                                            <input type="text" class="form-control cat_vaccine" aria-label="Default" value="<%= veterinaryTab.cat_vaccine %>" aria-describedby="inputGroup-sizing-default" id="cat_vaccine<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">Prix identification chat</span>
                                                            </div>
                                                            <input type="text" class="form-control cat_IDE" aria-label="Default" value="<%= veterinaryTab.cat_IDE %>" aria-describedby="inputGroup-sizing-default" id="cat_ide<%= veterinaryTab.id %>">
                                                        </div>
                                                    </div>
                                                </section>
                                            </section>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger deleteVeterinary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Fermer</button>
                                        <button type="button" class="btn btn-primary saveEditVeterinary">Sauvegarder</button>
                                    </div>
                                </div>
                            </div>
                        </div>      
                        <% } %>
                    </tbody>
            </table>
        </div>
        <!--------------------------------------------Section Veterinaires autres departements--------------------------------------->
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
            <table class="table table-hover">                
                <thead>
                    <tr>
                        <th scope="col">Clinique</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cast. Chiens</th>
                        <th scope="col">Ster. 10 KG</th>
                        <th scope="col">Ster. 10/25 KG</th>
                        <th scope="col">Ster. 25/40 KG</th>
                        <th scope="col">Ster. + 40 KG</th>
                        <th scope="col">Vaccin Chiens</th>
                        <th scope="col">IDE Chiens</th>
                        <th scope="col">Cast. Chats</th>
                        <th scope="col">Pack Chats M</th>
                        <th scope="col">Ster. Chats</th>
                        <th scope="col">Pack Chats F</th>
                        <th scope="col">Vaccin Chats</th>
                        <th scope="col">IDE Chats</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let veterinaryTab of allveterinary.autre){ %>
                        <tr data-toggle="modal" data-target="#VetModalOther<%= veterinaryTab.id %>">
                            <td data-label="Nom"><%= veterinaryTab.name %></td>
                            <td data-label="Téléphone"><%= veterinaryTab.number_phone %></td>
                            <td data-label="Adresse"><%= veterinaryTab.postal_code %> <%= veterinaryTab.city %> - <%= veterinaryTab.adress %></td>
                            <td data-label="Email"><%= veterinaryTab.email %></td>
                            <td data-label="Prix chien cast"><%= veterinaryTab.dog_castration %></td>
                            <td data-label="Prix chien Str < 10 kg"><%= veterinaryTab.dog_ovario_10 %></td>
                            <td data-label="Prix chien 10 kg < Str < 25 kg"><%= veterinaryTab.dog_ovario_10_25 %></td>
                            <td data-label="Prix chien 25 kg < Str < 40 kg"><%= veterinaryTab.dog_ovario_25_40 %></td>
                            <td data-label="Prix Str > 40 kg"><%= veterinaryTab.dog_ovario_40 %></td>
                            <td data-label="Prix chien vaccin"><%= veterinaryTab.dog_vaccine %></td>
                            <td data-label="Prix chat ide"><%= veterinaryTab.dog_ide %></td>
                            <td data-label="Prix chat cast"><%= veterinaryTab.cat_castration %></td>
                            <td data-label="Prix pack chat cast/ide"><%= veterinaryTab.cat_castration_tatouage %></td>
                            <td data-label="Prix chat Str"><%= veterinaryTab.cat_ovario %></td>
                            <td data-label="Prix pack chat Str/ide"><%= veterinaryTab.cat_ovario_tatouage %></td>
                            <td data-label="Prix chat vaccin"><%= veterinaryTab.cat_vaccine %></td>
                            <td data-label="Prix chat ide"><%= veterinaryTab.cat_ide %></td>    
                        </tr>
                                            <!-------------------------------------------------MODAL MODIFIER VETERINARY------------------------------------>
                    <div class="modal fade" id="VetModalOther<%= veterinaryTab.id %>" tabindex="-1" role="dialog" aria-labelledby="other-tab" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content"  data-article-id="<%= veterinaryTab.id %>">
                                <div class="modal-header">
                                    <h5 class="modal-title Editer-un-veterinary">Modifier le vétérinaire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="edit-vet" action="" method="POST">
                                        <section class="modal-card-body">
                                            <section class="modal-card-body">
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Nom de la Clinique</span>
                                                        </div>
                                                        <input type="text" class="form-control name" aria-label="Default" value="<%= veterinaryTab.name %>" aria-describedby="inputGroup-sizing-default" id="name<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Ville</span>
                                                        </div>
                                                        <input type="text" class="form-control city" aria-label="Default" value="<%= veterinaryTab.city %>" aria-describedby="inputGroup-sizing-default" id="city<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Code Postal</span>
                                                        </div>
                                                        <input type="text" class="form-control postal_code" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="postal_code<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Adresse</span>
                                                        </div>
                                                        <input type="text" class="form-control adress" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="adress<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Téléphone</span>
                                                        </div>
                                                        <input type="text" class="form-control" aria-label="Default" value="<%= veterinaryTab.number_phone %>" aria-describedby="inputGroup-sizing-default" id="number_phone<%= veterinaryTab.id %>" >
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Email</span>
                                                        </div>
                                                        <input type="text" class="form-control email" aria-label="Default" value="<%= veterinaryTab.postal_code %>" aria-describedby="inputGroup-sizing-default" id="email<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix castration chien</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_castration" aria-label="Default" value="<%= veterinaryTab.dog_castration %>" aria-describedby="inputGroup-sizing-default" id="dog_castration<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix stérilisation chien 10 Kg</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_ovario_10" aria-label="Default" value="<%= veterinaryTab.dog_ovario_10 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix stérilisation chien 10 à 25 Kg</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_ovario_10_25" aria-label="Default" value="<%= veterinaryTab.dog_ovario_10_25 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10_25<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix stérilisation chien 25 à 40 Kg</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_ovario_25_40" aria-label="Default" value="<%= veterinaryTab.dog_ovario_25_40 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_25_40<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix stérilisation chien 40 Kg</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_ovario_40" aria-label="Default" value="<%= veterinaryTab.dog_ovario_40 %>" aria-describedby="inputGroup-sizing-default" id="dog_ovario_40<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix vaccination chien</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_vaccine" aria-label="Default" value="<%= veterinaryTab.dog_vaccine %>" aria-describedby="inputGroup-sizing-default" id="dog_vaccine<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix identification chien</span>
                                                        </div>
                                                        <input type="text" class="form-control dog_ide" aria-label="Default" value="<%= veterinaryTab.dog_ide %>" aria-describedby="inputGroup-sizing-default" id="dog_ide<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix castration chat</span>
                                                        </div>
                                                        <input type="text" class="form-control cat_castration" aria-label="Default" value="<%= veterinaryTab.cat_castration %>" aria-describedby="inputGroup-sizing-default" id="cat_castration<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Pack castration et identification chat</span>
                                                        </div>
                                                        <input type="text" class="form-control cat_castration_tatouage" aria-label="Default" value="<%= veterinaryTab.cat_castration_tatouage%>" aria-describedby="inputGroup-sizing-default" id="cat_castration_tatouage<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix stérilisation chat</span>
                                                        </div>
                                                        <input type="text" class="form-control cat_ovario" aria-label="Default" value="<%= veterinaryTab.cat_ovario %>" aria-describedby="inputGroup-sizing-default" id="cat_ovario<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Pack stérilisation et identification</span>
                                                        </div>
                                                        <input type="text" class="form-control cat_ovario_tatouage" aria-label="Default" value="<%= veterinaryTab.cat_ovario_tatouage%>" aria-describedby="inputGroup-sizing-default" id="cat_ovario_tatouage<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix vaccination chat</span>
                                                        </div>
                                                        <input type="text" class="form-control cat_vaccine" aria-label="Default" value="<%= veterinaryTab.cat_vaccine %>" aria-describedby="inputGroup-sizing-default" id="cat_vaccine<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Prix identification chat</span>
                                                        </div>
                                                        <input type="text" class="form-control cat_IDE" aria-label="Default" value="<%= veterinaryTab.cat_IDE %>" aria-describedby="inputGroup-sizing-default" id="cat_ide<%= veterinaryTab.id %>">
                                                    </div>
                                                </div>
                                            </section>
                                        </section>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger deleteVeterinary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                          </svg>
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Fermer</button>
                                    <button type="button" class="btn btn-primary saveEditVeterinary">Sauvegarder</button>
                                </div>
                            </div>
                        </div>
                    </div>      
                    <% } %>
                    </tbody>
                </table>
        </div>
    </div>
</div>

<!-------------------------------------------------MODAL AJOUTER VETERINARY------------------------------------>
<div class="modal fade" id="addVetModal" tabindex="-1" role="dialog" aria-labelledby="addVetModal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content" data-article-id="addVeterinary">
            
            <div class="modal-header">
                <h5 class="modal-title" id="addVeterinary"> Ajouter un vétérinaire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="registrationForm" action="" method="POST">
                    <section class="modal-card-body">
                        <section class="modal-card-body">
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nom de la Clinique</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="name">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Ville</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="city">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Code Postal</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="postal_code">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Adresse</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="adress">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Téléphone</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="number_phone">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Email</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="email">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix castration chien</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_castration">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix stérilisation chien 10 Kg</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix stérilisation chien 10 à 25 Kg</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_ovario_10_25">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix stérilisation chien 25 à 40 Kg</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_ovario_25_40">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix stérilisation chien 40 Kg</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_ovario_40">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix vaccination chien</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_vaccine">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix identification chien</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="dog_ide">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix castration chat</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="cat_castration">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Pack castration et identification chat</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="cat_castration_tatouage">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix stérilisation chat</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="cat_ovario">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Pack stérilisation et identification</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="cat_ovario_tatouage">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix vaccination chat</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="cat_vaccine">
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Prix identification chat</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="cat_ide">
                                </div>
                            </div>
                        </section>
                    </section>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Fermer</button>
                <button type="button" class="btn btn-primary saveVeterinary">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
    
<%- include('partials/footer') %>
<script src="/js/app.js"></script>
<script src="/js/veterinary.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
