<%- include('partials/header') %>

<main>
    <div class="container">
        <nav class="navbar navbar-light subNavBar" style="background-color: #476170;">
            <a class="module" href="/v1/volunteer/cats">A l'adoption</a> 
            <a class="module" href="">Adopté</a> 
            <a class="module" href="">Décédé</a>     
        </nav>

        <div class="bloc-article">
            <% for(let cat of cats) { %>
            <article class="article" data-article-id="<%= cat.id %>">
                <header class="header">
                    <h2 class="subTitle"><%= cat.name %></h2>
                    <img class="image-pet" src="" alt="Image de présentation de l'animal">
                </header>
                <main class="main">
                    <ul class="content">
                        <li class="lien">Race: <%= cat.breed %></li>
                        <li class="lien">Age: <%= cat.age %></li>
                        <li class="lien">Sexe: <%= cat.sexe %></li>
                    </ul>
                </main>
                <footer class="Multi-button">
                    <button type="button" class="btn btn-success">Voir</button>
                    <button type="button" class="btn btn-info">Modifier</button>
                    <button type="button" class="btn btn-primary">Dépublier</button>
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </footer>
            </article>
        
        <% } %>
    </div>
    </div>
</main>
<script src="/js/app.js"></script>
</body>
