<%- include('partials/header') %>

<div class ="bande-top">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
				  	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">A l'adoption</a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nos adoptés</a>
				</li>
				<li class="nav-item">
				  	<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Nos décédés</a>
				</li>
			</ul>
			
			<div class="tab-content" id="myTabContent">
				
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

<!--------------------------------------------Partie a l'adoption--------------------------------------->		
<main class="main1">
	<button type="button" class="btn btn-secondary" id="btn-createCat" data-toggle="modal" data-target="#AddCatModal">Ajouter un chat </button>

    <div class="container">
		
        		<div class="bloc-article">
        		    <% for(let cat of jason.pets) { %>
        		    <article class="article" data-article-id="<%= cat.id %>">
        		        <header class="header-pet">
							<h2 class="subTitle"><strong><%= cat.name %></strong></h2>
        		            <img class="image-pet" src="/img/<%= cat.name %>.jpg" alt="Image de présentation de l'animal">
        		        </header>
        		        <main class="article-main-pet">
        		            <ul class="content">
								<li class="lien"><strong>Robe</strong>: <%= cat.color %></li>
								<li class="lien"><strong>Age</strong>: <%= cat.age %></li>
								<li class="lien"><strong>Sexe</strong>: <%= cat.sexe %></li>
							</ul>
        		        </main>
        		        <footer class="Multi-button">
        		            <button type="button" class="btn btn-success catSee" onClick="location.href='pet/<%= cat.id %>'">Voir</button>
        		            <button type="button" class="btn btn-info catEdit" data-toggle="modal" data-target="#editModal<%= cat.id %>">Modifier</button>
        		            <% if (cat.site_publish === true) { %>
        		            <button type="button" class="btn btn-primary publishSiteCat">Dépublier</button>
        		            <% } else { %>
        		            <button type="button" class="btn btn-primary publishSiteCat">Publier</button>
        		            <% } %>
		                    <button type="button" class="btn btn-light">Supprimer</button>
		                </footer>
					</article>

				
		            <!--------------------------------------------Modale Modification chat--------------------------------------->
					<div class="modal fade" id="editModal<%= cat.id %>" tabindex="-1" role="dialog" aria-labelledby="Editer-un-chat" aria-hidden="false">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content" data-article-id="<%= cat.id %>">
					      <div class="modal-header">
					        <h5 class="modal-title" id="Editer-un-chat">Modifier <%= cat.name %></h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <form action="" method="POST">
										<header class="modal-card-head">
												<div class="alert alert-warning" role="alert">
													Attention certaines données sont directement connectées au site web, attention à l'orthographe!
												  </div>
												  <button class="delete close" type="button" aria-label="close"></button>
											<button class="delete close" type="button" aria-label="close"></button>
										</header>
										<section class="modal-card-body">
					            			<div class="field">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
													  <span class="input-group-text">Nom</span>
													</div>
													<input type="text" class="form-control" aria-label="Default" value="<%= cat.name %>" aria-describedby="inputGroup-sizing-default" id="editNameCat">
												  </div>
											</div>
											<div class="field">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
													  <span class="input-group-text">Age</span>
													</div>
													<input type="text" class="form-control" aria-label="Default" value="<%= cat.age %>" aria-describedby="inputGroup-sizing-default" id="editAgeCat">
												  </div>
											</div>
										
								  	<div class="input-group mb-3">
										<div class="input-group-prepend">
											<label class="input-group-text" for="inputGroupSelect01">Sexe</label>
										</div>
										<select class="custom-select" id="editSexeCat">
					                            <option selected>Choisir*</option>
					                            <option value="Mâle">Mâle</option>
					                            <option value="Femelle">Femelle</option>
					                    </select>
									</div>
								
					            	<div class="field">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text">Race</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Default" value="<%= cat.breed %>" aria-describedby="inputGroup-sizing-default" id="editBreedCat">
                                          </div>
                                    </div>
							
					            <div class="field">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Entente</span>
										</div>
											<input type="text" class="form-control" aria-label="Default" value="<%= cat.amity %>" aria-describedby="inputGroup-sizing-default" id="editAmityCat">
									</div>
								</div>
							
					            <div class="field">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Robe</span>
										</div>
											<input type="text" class="form-control" aria-label="Default" value="<%= cat.color %>" aria-describedby="inputGroup-sizing-default" id="editColorCat">
									  </div>
								</div>
							
					            <div class="field">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Prise en charge</span>
										</div>
										<input class="form-control" type="date" value="<%= cat.date_supported %>" id="editDate_supportedCat">
									</div>
								</div>
							
					            <div class="field">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Identification</span>
										</div>
										<input type="text" class="form-control" aria-label="Default" value="<%= cat.ide %>" aria-describedby="inputGroup-sizing-default" id="editIdeCat">
									  </div>
								</div>
							
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<label class="input-group-text" for="inputGroupSelect01">Stérilisé</label>
									</div>
									<select class="custom-select" id="editSterilisedCat">
										<option selected>Choisir*</option>
										<option value="true">Oui</option>
										<option value="false">Non</option>
									</select>
								</div>
							
		            			<div class="field">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">Dernier vaccin</span>
										</div>
										<input class="form-control" type="date" value="<%= cat.date_vaccine %>" aria-describedby="inputGroup-sizing-default" id="editDate_vaccineCat">
									</div>
								</div>
							
								<div class="nofield" id="nofild">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Description</span>
										</div>
										<textarea class="form-control" aria-label="With textarea" id="editDescriptionCat"></textarea>
									  </div>
								</div>
							
							</section>
						</form>
					</div>
					    <div class="modal-footer">
					    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary saveChangeCat">Save changes</button>
					    </div>
					</div>
				</div>

			</div>
			<% } %> 
			 
		</div>
	</div>
</main>
</div>
<!--------------------------------------------PARTIE ADOPTES--------------------------------------->

				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<table class="table table-hover">
						<thead>
						  <tr>
							<th scope="col">NOM</th>
							<th scope="col">NOUVEAU NOM</th>
							<th scope="col">Robe</th>
							<th scope="col">AGE</th>
							<th scope="col">SEXE</th>
							<th scope="col">NOM ADOPTANT</th>
							<th scope="col">PRENOM ADOPTANT</th>
							<th scope="col">TELEPHONE</th>
							<th scope="col">VILLE</th>
							<th scope="col">CODE POSTAL</th>
							<th scope="col">ADRESSE</th>
						  </tr>
						</thead>
						<tbody>
						<% for(catAdopted of jason.petsAdopt){ %>

							<tr onClick="location.href='pet/<%= catAdopted.id %>'">
							<td><%= catAdopted.name %></td>
							<td><%= catAdopted.last_name_pet %></td>
							<td><%= catAdopted.color %></td>
							<td><%= catAdopted.age %></td>
							<td><%= catAdopted.sexe %></td>
							<td><%= catAdopted.lastname %></td>
							<td><%= catAdopted.firstname %></td>
							<td><%= catAdopted.number_phone %></td>
							<td><%= catAdopted.city %>
							<td><%= catAdopted.postal_code %></td>
							<td><%= catAdopted.adress %></td>
						  </tr>


						<% } %> 
						
						</tbody>
					</table>
					
				</div>

<!--------------------------------------------PARTIE Décédé--------------------------------------->

<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
	
	<table class="table table-hover">
		<thead class="TitleTab">
			<tr>
				<th scope="col">Nom de l'animal</th>
				<th scope="col">Robe</th>
				<th scope="col">Age</th>
				<th scope="col">Sexe</th>
			</tr>
		</thead>
		<tbody>
			<% for(catDead of jason.petsDead) { %>
			<tr>
				<td><%= catDead.name %></td>
				<td><%= catDead.color %></td>
				<td><%= catDead.age %></td>
				<td><%= catDead.sexe %></td>
			</tr>	
			<% } %>
	</table>
	
</div>

<!--------------------------------------------Modale AJOUT chat--------------------------------------->

<div class="modal fade" id="AddDogModal" tabindex="-1" role="dialog" aria-labelledby="Ajouter-un-chien" aria-hidden="false">
	<div class="modal-dialog" role="document">
	  <div class="modal-content" data-article-id="addCat">
		<div class="modal-header">
		  <h5 class="modal-title" id="Ajouter_chat"> Creer la fiche d'un chat</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

		  <form action="" method="POST">
					  <header class="modal-card-head">
						<div class="alert alert-warning" role="alert">
							Attention certaines données sont directement connectées au site web, attention à l'orthographe!
						  </div>
						  <button class="delete close" type="button" aria-label="close"></button>
					  </header>
					  <section class="modal-card-body">

						<div class="field">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
								  <span class="input-group-text">Nom</span>
								</div>
								<input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addNameCat">
							  </div>
						</div>

			  <div class="field">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Age</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addAgeCat">
				  </div>
			

			  </div>

			  <div class="field">
			  <div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputGroupSelect01">Sexe</label>
  				</div>
				  <select class="custom-select" id="addSexeCat">
						<option>Choisir* </option>
						<option>Mâle</option>
						<option>Femelle</option>
				  </select>
				</div>
				
			  </div>
			  
			  <div class="field">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Race</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addBreedCat">
				  </div>
			
				<div class="field">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <span class="input-group-text">Entente</span>
						</div>
						<input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addAmityCat">
					  </div>

			  <div class="field">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Robe</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addColorCat">
				  </div>
            </div>
					  
			<div class="field">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text">Identification</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" value="" aria-describedby="inputGroup-sizing-default" id="addIdeCat">
				  </div>
            </div>
			  
			  <div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputGroupSelect01">Stérilisé</label>
				</div>
				<select class="custom-select" id="sterilisedAddCat">
					<option>Choisir* </option>
					<option value="true" >Oui</option>
					<option value="false">Non</option>
                </select>
				</div>
				
				<div class="field">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						  <span class="input-group-text">Dernier vaccin</span>
						</div>
						<input class="form-control" type="date" value="" aria-describedby="inputGroup-sizing-default" id="vaccineDateAddCat">
					  </div>
					  
					  <div class="nofield" id="nofildCat">
						<div class="input-group">
							<div class="input-group-prepend">
							  <span class="input-group-text">Description</span>
							</div>
							<textarea class="form-control" aria-label="With textarea" id="descriptionAddCat"></textarea>
						  </div>
					</div>
				</section>
			</form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary saveNewCat">Ajouter</button>
		</div>
	  </div>
	</div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/cat.js"></script>



</body>
