<%- include('partials/header') %>

<header class="header">
    <h1 class="Title"><%= jason.pet.name %></h1>
</header>
<main class="main-article">
    <header class="header-article">
        <a class="link" href="">Facebook</a>
        <a class="link" href="">Seconde chance</a>
        <a class="link" href="">ASELA</a>
        <ul class="liste-caract-pet">
            <li class="liste-pet">Age: <%= jason.pet.age %></li>
            <li class="liste-pet">sexe: <%= jason.pet.sexe %></li>
            <li class="liste-pet">Race: <%= jason.pet.breed %></li>
            <li class="liste-pet">Entente: <%= jason.pet.amity %></li>
            <li class="liste-pet">Robe: <%= jason.pet.color %></li>
            <li class="liste-pet">Taille: <%= jason.pet.weight %></li>
        </ul>
    </header>
    <main class="main-article">
        <p class="description-pet">Description: <%= jason.pet.description %></p>
        <article class="info-pet">
            <header class="header-article-pet">
                <img src="" alt="Image de présentation de l'animal">
            </header>
            <main class="main-article-pet">
                <h2 class="Title-info-pet">Informations importantes</h1>
                <ul class="liste-info-pet">
                    <li class="info-pet">Prise en charge: <%= jason.pet.date_supported %></li>
                    <li class="info-pet">Identification: <%= jason.pet.ide %></li>
                    <li class="info-pet">Stérilisation: <%= jason.pet.sterilised %></li>
                    <li class="info-pet">Vacciné: <%= jason.pet.date_vaccine %></li>
                    <li class="info-pet">Dernier vaccin: <%= jason.pet.date_vaccine %></li>
                </ul>
            </main>
        </article>
        <aside class="info-host-family">
            <h2 class="Title-host-family">Famille d'acceuil</h1>
            <ul class="caract-host-family">
                <li class="liste_host-family">Nom: <%= jason.host_family.lastname %></li>
                <li class="liste_host-family">Prénom: <%= jason.host_family.firstname %></li>
                <li class="liste_host-family">Adresse: <%= jason.host_family.adress %></li>
                <li class="liste_host-family">Code postal: <%= jason.host_family.postal_code %></li>
                <li class="liste_host-family">Ville: <%= jason.host_family.city %></li>
                <li class="liste_host-family">Téléphone: <%= jason.host_family.number_phone %></li>
                <li class="liste_host-family">Email: <%= jason.host_family.email %></li>
            </ul>
        </aside>

    </main>
    

</main>
<script src="/js/dog.js"></script>
