<%- include('partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
            </div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2" style="">Nos evenements</h2>
    </div>
    
    <img src="/img/event.png" class="img-fluid" alt="Responsive image" style="">  
    
    <div class="col-md-10" style="display: inline-flex; margin: 2rem;"> 
        
            <div class="row">
                <div class="col-12 mt-3">
                    <% for(let event of events){ %> 
                        
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                    <img src="http://localhost:3030/uploads/<%= event.picture %>" class="img-event"alt="">
                            </div>
                            <div class="card-body">
                                <div class="title">
                                <h4 class="card-title"><%= event.title %></h4>
                            </div>
                                <div>
                                    <div class="container-content" style="width: 60rem; text-align: justify">
                                    <p class="card-text"><%= event.content %></p>
                                </div>
                                    <footer class="blockquote-footer">
                                        <small class="text-muted" style="font-size: .9rem;">
                                          Le <%= event.date_event.toLocaleString('en-GB').substr(0, 10) %> à <cite title="Source Title"><%= event.location %></cite>
                                        </small>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %> 
                </div>
            </div>

        
    </div>
    
    
    
    
</main>
</div>
</div>