<%- include('partials/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
            </div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0">
            </div>
        </div>
    </div>
    <div class="section">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2 class="h2">Bienvenue sur le site web de l'association ASELA</h2>
        </div>
        <div class="row">
            <div class="col-md-6 details">
                <p>
                    L'Association Sauve Et Les Animaux est une association à but non lucratif de protection Animale loi 1901 dans le GARD. <br>
                    Notre but  est de venir en aide aux chiens et chats abandonnés et/ou maltraités pour leur trouver une nouvelle famille ou les placer en famille d’accueil. <br><br>
                    Nous n'avons pas de structure d'accueil comme les refuges, ce qui signifie que les familles d'accueil ont une importance primordiale pour nous aider à secourir un maximum d'animaux! <br>
                    Chaque animal pris en charge est rencontré par un vétérinaire, soigné si besoin, identifié systématiquement, castré ou stérilisé dès que l'âge nous le permet, et déparasité. <br>
                    Il sera choyé par une famille d'accueil, ce qui permet de retrouver un équilibre quand ils ont un vécu difficile et surtout cela nous permet de connaitre un maximum les petites habitudes de chaque loulou, nous pouvons donc les confier à des familles qui leur correspondent au mieux ! 
                </p>
            </div>
            <div class="col-md-6 img">
                <div class="col-lg-6 mb-2 pr-lg-1">
                    <img src="/img/logo5.jpg"  alt="" class="img-fluid rounded shadow-sm">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h4">Nos loulous qui attendent depuis trop longtemp</h3>                    
            </div>
            <div class="card-deck">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front-1" style="background-image: url(http://localhost:3030/uploads/<%=starsDog.avatar%>);" >
                        </div>
                        <div class="flip-card-back" >
                            <p class="card-text">
                                <%= starsDog.name%> attend une famille depuis le <%= starsDog.date_supported.toLocaleString('en-GB').substr(0, 10)%>. <br>
                                Chaque Animal mérite d'avoir un foyer aimant, les animaux adultes sont moins demandé, voir invisible... <br>
                                Regarder sa fiche, peut être que vous êtes la famille qu'elle attend depuis si longtemps...
                            </p>
                            <div class="footer" >
                                <a class="clickMe" style="margin-top: 1rem; color: white;" href="/V1/fiche/<%= starsDog.id %>">
                                    Cliquez ici pour <% if(starsDog.sexe === 'Mâle'){ %> le <%}else{%> la <%}%> découvrir.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front-2" style="background-image: url(http://localhost:3030/uploads/<%=starsCat.avatar%>);" >
                        </div>
                        <div class="flip-card-back">
                            <p class="card-text">
                                <%= starsCat.name%> attend une famille depuis le <%= starsCat.date_supported.toLocaleString('en-GB').substr(0, 10)%>. <br>
                                Chaque Animal mérite d'avoir un foyer aimant, les animaux adultes sont moins demandé, voir invisible... <br>
                                Regarder sa fiche, peut être que vous êtes la famille qu'elle attend depuis si longtemps...
                            </p>
                            <div class="footer" >
                                <a class="clickMe" style="margin-top: 1rem; color: white;" href="/V1/fiche/<%= starsCat.id %>">
                                    Cliquez ici pour <% if(starsCat.sexe === 'Mâle'){ %> le <%}else{%> la <%}%> découvrir.
                                </a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3 class="h4">Asela en chiffre</h3>                    
            </div>
            <div class="col-md-10" id="center2" style="display: flex;">
                <table class="table" style="max-width: 75%; ">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">2021</th>
                            <th scope="col">2020</th>
                            <th scope="col">2019</th>
                            <th scope="col">2018 et 2017</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chats pris en charges</td>
                            <td><%= json.CatSupportThisYear%></td>
                            <td>187</td>
                            <td>69</td>
                            <td>67</td>
                        </tr>
                        <tr>
                            <td>Chiens pris en charges</td>
                            <td><%= json.DogSupportThisYear%></td>
                            <td>65</td>
                            <td>78</td>
                            <td>148</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>       
</main>

<%- include('partials/footer') %>
