<%- include('partials/header') %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

<div class="row py-5 px-4">
    <div class="col-xl-8 col-md-3 col-sm-3 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            
            <h2 class="titlePage" >Fiche descriptive de <%= json.pet[0].name %></h2>
            <div class="py-4 px-4">
                <div class="py-4">
                    <h5 class="mb-3 profilSize">Informations</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0 capitalize"> <span class="font-weight-bold space"> Nom: </span><%= json.pet[0].name %> </p>
                        <p class="font-italic mb-0 capitalize"> <span class="font-weight-bold space"> Sexe: </span><%= json.pet[0].sexe %> </p>
                        <p class="font-italic mb-0 capitalize"> <span class="font-weight-bold space"> Race: </span><%= json.pet[0].breed %> </p>
                        <p class="font-italic mb-0"> <span class="font-weight-bold space"> Né(e) le: </span><%= json.pet[0].age.toLocaleString('en-GB').substr(0, 10) %> </p>
                        <p class="font-italic mb-0 capitalize"> <span class="font-weight-bold space"> Ententes: </span><%= json.pet[0].amity %> </p>
                    </div>
                </div>
                <div class="py-4">
                    <h5 class="mb-3 profilSize">Description</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p style="white-space: pre-line;" class="font-italic mb-0"><%= json.pet[0].description %> </p>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                            <li class="list-inline-item commentSize"></i>
                                Pour tout autres questions nous contacter par email:   
                            </li>
                            <li class="list-inline-item commentSize">asela.sauve@outlook.fr</li>
                        </ul>
                        <ul class="list-inline small text-muted mt-3 mb-0">
                            <li class="list-inline-item commentSize"><i class="fa fa-comment-o mr-2"></i>
                                Vous souhaitez adopter cet animal ?   
                            </li>
                            <li class="list-inline-item commentSize"> <a class="important" href="/v1/formulaire_adoption">Cliquez ici</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0 profilSize">Photos</h5>
                </div>
                <div class="row">
                    <% for(let img of json.imgPet) { %>
                        <div class="col-lg-6 mb-2 pr-lg-1"><img src="http://ec2-3-219-56-196.compute-1.amazonaws.com:3030/uploads/<%= img.title %>" alt="" class="img-fluid rounded shadow-sm"></div>
                    <% } %>
                </div>
                
            </div>
        </div><!-- End profile widget -->

    </div>
    <div class="col-xl-3 col-md-3 col-sm-10 mx-auto">
        <div class="py-4 px-4">
            <div class="py-4">
                 <div class="p-4 bg-white rounded shadow-sm">
                    <p class="mb-0"> Adopter un animal est une démarche sérieuse et responsable. Elle implique tous les membres d'une famille et s'inscrit dans le temps. Un animal est un être vivant qui mérite du temps, de l'attention et de l'amour. </p>
                </div>
            </div>
            <div class="py-4">
                <div class="p-4 bg-white rounded shadow-sm">
                    <p class="font-italic mb-0"> <span class="font-weight-bold space"> Pour adopter chez nous: </span></p> <br>
                    <p class="mb-0"> Une fiche de renseignements sera à remplir avant toute rencontre: </p> <br>
                    <a class="mb-0 d-block" href="/v1/formulaire_adoption"> Questionnaire adoption </a> <br>
                    <p class="mb-0"> Lors de l'adoption vous devrez fournir : </p> <br>
                    <p class="mb-0"> La photocopie d'une carte d'identité et d'un justificatif de domicile </p><br>
                </div>
            </div>
            <div class="py-4">
                <div class="p-4 bg-white rounded shadow-sm">
                    <p class="font-italic mb-0"> <span class="font-weight-bold space"> Participation d'adoption: </span></p> <br>
                    <p class="mb-0"> La participation d'adoption varie selon l'animal : </p> <br>

                    <div class="tarif">
                        <p class="mb-0"> Chien femelle: </p>
                        <p class="mb-0"> <span class="right"><%= json.tarif[0].dog_female %> €</span></p>
                    </div>
                    <div class="tarif">
                        <p class="mb-0"> Chien mâle: </p>
                        <p class="mb-0"> <span class="right"><%= json.tarif[0].dog_male %> €</span></p>
                    </div>
                    <div class="tarif">
                        <p class="mb-0"> Chiot (-1 ans): </p>
                        <p class="mb-0"> <span class="right"><%= json.tarif[0].puppy %> €</span></p>
                    </div> <br>
                    <div class="tarif">
                        <p class="mb-0"> Chat femelle: </p>
                        <p class="mb-0"> <span class="right"><%= json.tarif[0].cat_female %> €</span></p>
                    </div>
                    <div class="tarif">
                        <p class="mb-0"> Chat mâle: </p>
                        <p class="mb-0"> <span class="right"><%= json.tarif[0].cat_male %> €</span></p>
                    </div>
                    <div class="tarif">
                        <p class="mb-0"> Chaton: </p>
                        <p class="mb-0"> <span class="right"><%= json.tarif[0].kitten %> €</span></p>
                    </div> <br>

                    <% if(json.purebred_pet[0].extra === true){ %>
                        <p class="mb-0"><%= json.purebred_pet[0].extra_charge %></p> <br>
                   <% } %> 
                    

                    <p class="mb-0"> Pour tout animal non stérilisé/castré, un chéque de caution vous sera demandé, cette operation sera obligatoire dès l'age requis atteint. </p> <br>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</main>

<script>

function nl2br (str, is_xhtml) {   
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';    
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
}
</script>