<div class="modal fade bd-familyHost-modal-lg-profil<%= hostFamilyTab.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="/img/dogcatprofil.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4><%= hostFamilyTab.lastname %> <%= hostFamilyTab.firstname %></h4>
                                    <p class="text-secondary mb-1">Possede : <%= hostFamilyTab.pet_composition %></p>
                                    <p class="text-secondary mb-1">Disponibilité: <input type="checkbox" checked data-toggle="toggle" data-on="Dispo" data-off="Indispo" data-onstyle="success" data-offstyle="danger" style="width: 5rem;"> </p> 
                                    <p class="text-secondary mb-1">Possede : <%= hostFamilyTab.pet_composition %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Chats acceptés</h6>
                                <span class="text-secondary" style="color: green !important; font-weight: bold; ">Oui</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Chatons acceptés</h6>
                                <span class="text-secondary" style="color: red !important; font-weight: bold; ">Non</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Chiens acceptés</h6>
                                <span class="text-secondary" style="color: green !important; font-weight: bold; ">Oui</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Chiots acceptés</h6>
                                <span class="text-secondary" style="color: green !important; font-weight: bold; ">Oui</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Spécificité</h6>
                                <span class="text-secondary" style="font-weight: bold; "><%= hostFamilyTab.pet_accepted %></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= hostFamilyTab.email %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Téléphone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= hostFamilyTab.number_phone %>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Adresse</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <%= hostFamilyTab.adress %> <br>
                                    <%= hostFamilyTab.postal_code%> <%= hostFamilyTab.city%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-body">
                        <h6 class="mb-0">Commentaire</h6>
                        <div class="card">
                            
                            <div class="card-body">
                                <%= hostFamilyTab.comment%>
                            </div>
                        </div>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="mb-0">Mettre à jour le commentaire:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                        <button type="button" class="btn btn-primary">Envoyer le commentaire</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>